@import '../../core/css/variables.scss';
@import '../../core/css/mixins.scss';

.iqss-admin-config-attributes {
    width: 80%;
    max-width: 800px;
    min-width: 400px;
    @include standardMainArea;
}

.iqss-admin-config-attributes-container {
    display: flex;
    flex-flow: column;
}

.iqss-admin-config-attributes-display {
    flex: 1;
    display: flex;
    align-items: center;
}

.iqss-admin-config-attributes-label {
    flex: 1;
}

.iqss-admin-config-attributes-value {
    flex: 1;
}

.iqss-admin-config-attributes-validationError {
    flex: 1;
    margin-left: 10px;
    align-self: flex-end;
    width: 50%;
    font-size: $very-small-font-size;
    height: 15px;
}

.iqss-admin-config-saveLink {
    background: url(../../../modules/core/img/save.svg) left center no-repeat;
    @include standardSubHeaderAction;
}

