@import '../../core/css/variables.scss';
@import 'mixins.scss';

.iqss-admin-config-attributes {
    width: 60%;
    @include mainArea;
}

.iqss-admin-config-attributes-item {
    flex: 1;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.iqss-admin-config-attributes-label {
    flex: 1;
}

.iqss-admin-config-attributes-value {
    flex: 1;
}

.iqss-admin-config-attributes-defaultSlideShowSelect {
    width: 300px;
}

.iqss-admin-config-saveLink {
    background: url(../../../modules/core/img/save.svg) left center no-repeat;
    @include subHeaderAction;
}

