@import '../../core/css/variables.scss';
@import '../../core/css/mixins.scss';

.iqss-admin-locations-container {
    width: 40%;
    @include standardMainArea;
    padding: 0;

    [location-item] {
        border-top: 1px solid #ddd;

        &:first-child {
            border-top: 0;
        }
    }

    .location-item {
        display: flex;
        padding: 10px 15px;
        align-items: center;

        .location-item-name {
            flex: 1;
            line-height: 25px;
        }

        .location-item-edit {
            flex: 1;
        }

        .location-item-delete {
            background: url(../../../modules/core/img/delete.svg) center no-repeat;
            background-size: 12px 12px;
            color: #009da5;
            font-weight: bold;
            text-align: right;
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }
}

.iqss-admin-locations-add {
    background: url(../../../modules/core/img/add.svg) left center no-repeat;
    background-size: 20px 20px;
    flex: 1;
    line-height: 44px;
    width: 100px;
    padding-left: 25px;
    cursor: pointer;
    color: #009da5;
}
