@import '../../core/css/variables.scss';
@import '../../core/css/mixins.scss';

.iqss-admin-config-reloadLink {
    background: url(../../../modules/core/img/restart-refresh.svg) left center no-repeat;
    @include standardSubHeaderAction;
}

.iqss-admin-config-reloadResult {
    width: 80%;
    margin: 30px auto;
}

.iqss-admin-config-reloadResult-device {
    display: flex;
}

.iqss-admin-config-reloadResult-device-name {
    flex: 1;
}

.iqss-admin-config-reloadResult-device-location {
    flex: 1;
}

.iqss-admin-config-reloadResult-err {
    color: red;
    flex: 1;
}
