<div data-ng-controller="HeaderController">
	<div class="navbar-header iqss-navbar-header col-sm-2">
		<button ng-show="!isInteractionMode()" class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand iqss-navbar-brand">iQSlideShow</a>
	</div>
	<nav ng-if="!isInteractionMode()" class="collapse navbar-collapse iqss-navbar-collapse" collapse="!isCollapsed" role="navigation">
	    <div class="col-sm-8 .col-sm-offset-2 iqss-navbar-nav-menu-container">
            <ul class="nav navbar-nav iqss-navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
                <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" dropdown="item.menuItemType === 'dropdown'" url='{{item.link}}' ng-class="{'iqss-navbar-activeNav': isStateSelected(item.link)}">
                    <a href="#" ng-switch-when="dropdown" class="dropdown-toggle" data-toggle="dropdown"
                        style='display:inline-block;white-space: nowrap;overflow:visible;'>
                        <div data-ng-bind="item.title" style='display:inline'></div>
                        <div style='margin-right:10%;display:inline'>
                            <b class="caret"></b>
                        </div>
                    </a>
                    <ul ng-switch-when="dropdown" class="dropdown-menu">
                        <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}" >
                            <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                        </li>
                    </ul>
                    <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
                </li>
            </ul>
		</div>
		<ul class="nav navbar-nav navbar-right iqss-navbar-nav col-sm-2" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right iqss-navbar-right col-sm-2" data-ng-show="authentication.user">
			<li>
                <span>
                    Welcome
                </span>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span data-ng-bind="authentication.user.displayName"></span>
                </a>
				<ul class="dropdown-menu iqss-navbar-dropdown-menu" >
                    <div class="buble-indicator top"></div>
                    <li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>

			</li>
		</ul>
	</nav>
</div>
