<div class='iqss-legal-content'>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <!-- .entry-header -->

    <div>
        <p>iQuest is committed to respecting your privacy and the confidentiality of your personal data, traffic data and communications content.</p>
        <p>This Privacy Policy is designed to assist you in understanding how iQuest uses and safeguards the information you provide in using iQuest&#8217;s internet communications, iQuest &#8216;s websites and/or iQuest &#8216;s products, including without
            limitation, the ‘iQuest’ branded products and services.</p>
        <ol>
            <li>What information does iQuest collect and use?</li>
            <li>How does iQuest use this information and for what purpose?</li>
            <li>Our disclosure of your personal information.</li>
            <li>What are cookies and GIFs. How does iQuest use them?</li>
            <li>How does iQuest protect your personal information?</li>
            <li>Contacting You</li>
            <li>How can you access and amend your personal data?</li>
            <li>How long is your personal data kept by iQuest?</li>
        </ol>
        <h3 class="nomargin">1. WHAT INFORMATION DOES iQUEST COLLECT AND USE?</h3>
        <p>iQuest may gather and use information about you, including (but not limited to) information in the following categories:</p>
        <ol>
            <li>Identification data (e.g. name, username, address, telephone number, mobile number, email address, personal identification number);</li>
            <li>Profile information (e.g. age, gender, country of residence, language preference and any information that you choose to make available to others as part of your account;</li>
            <li>Electronic identification data (e.g. IP addresses, cookies);</li>
            <li>Survey results;</li>
            <li>Information about your usage of and interaction with iQuest software, products, and websites (including computer, platform, device and connection information, client performance information, error reports, device capability, bandwidth, statistics
                on page views, and traffic to and from our websites);</li>
            <li>Correspondence between you and iQuest;</li>
            <li>Traffic data (data processed for the purpose of the conveyance of communication or the billing thereof, including, but not limited to, the duration of the call, the number calling and the number called);</li>
            <li>Location information, derived from your mobile carrier or from the mobile device that you use. In connection with the iQuest products, you control when your location is shared with others. Your location is displayed and shared with other iQuest
                users only in accordance with your privacy settings. You also may create location information by &#8220;geo-tagging&#8221; your submitted content with location information. Please manage your privacy settings for location information carefully;</li>
            <li>Mobile device information, such as the manufacturer’s name, device model number, operating system, carrier network.</li>
        </ol>
        <p>iQuest may disclose personal information to respond to legal requirements, exercise our legal rights or defend against legal claims, to protect iQuest’s interests, fight against fraud and to enforce our policies or to protect anyone&#8217;s rights,
            property, or safety.</p>
        <h3 class="nomargin"> 2.   HOW DOES iQUEST USE THIS INFORMATION AND FOR WHAT PURPOSE?</h3>
        <p>Our primary purpose in collecting information is to provide you with a safe, smooth, efficient, and customised experience. iQuest collects and uses, or has third party service providers acting on iQuest’s behalf collecting and using, personal data
            relating to you, as permitted or necessary to:</p>
        <ul>
            <li>provide information about the iQuest software and/or the iQuest products;</li>
            <li>take, process or deliver orders made via our websites, invoice you or notify you of the status of your order;</li>
            <li>display updates about your recent activity using iQuest products or connections to other iQuest users;</li>
            <li>provide other services for you (as described when we collect the information);</li>
            <li>provide you with customer support and troubleshoot problems;</li>
            <li>compare information for accuracy;</li>
            <li>inform you about service updates and faults;</li>
            <li>request feedback or participation in online surveys;</li>
            <li>verify your identity;</li>
            <li>customise, measure, and improve iQuest software and websites;</li>
            <li>organise and carry out iQuest’s marketing or promotional operations/offers, contests, games and similar events; and</li>
            <li>protect your and iQuest’s interests, including in particular to enforce our Terms of Service and prevent and fight against fraud, (together, the Purposes).</li>
        </ul>
        <h3 class="nomargin">3.   OUR DISCLOSURE OF YOUR PERSONAL INFORMATION</h3>
        <p>Except as provided below, iQuest will not sell, rent, trade or otherwise transfer any personal and/or traffic data or communications content without your explicit permission, unless it is obliged to do so under applicable laws or by order of the competent
            authorities.</p>
        <p>iQuest may disclose personal information to respond to legal requirements, exercise our legal rights or defend against legal claims, to protect iQuest’s interests, fight against fraud and to enforce our policies or to protect anyone&#8217;s rights,
            property, or safety.</p>
        <p>In order to provide you with iQuest services that you have requested iQuest may sometimes, if necessary, share your personal and traffic data with the iQuest Group companies, carriers, partner service providers and/or agents. For example the PSTN-VoIP
            gateway provider, WiFi access services providers, distributors of iQuest software and/or iQuest products, and/or third party banking organisations or other providers of payment, email delivery, analytical services, customer support, or hosting
            services. iQuest will always require these third parties to take appropriate organisational and technical measures to protect your personal data and traffic data and to observe the relevant legislation.</p>
        <p>Some iQuest products may be co-branded and offered together with or via a partner company. If you register for or use such products, you consent to both iQuest and the partner company’s use of personal data collected in connection with the co-branded
            product. iQuest may offer its products in connection with other websites or services or may team with other online services to give you the combined results of both products/services or additional services and benefits. To determine whether you
            would benefit from the combined offer, if you have provided your consent, iQuest may match your email address, and email addresses of your contacts against email addresses you have provided to the third party website/service provider.</p>
        <p>iQuest, iQuest&#8217;s local partner, or the operator or company facilitating your communication may provide personal data, communication content and/or traffic data to an appropriate judicial, law enforcement or government authority lawfully requesting
            such information. iQuest will provide reasonable assistance and information to fulfill this request and you hereby consent to such disclosure.</p>
        <h3 class="nomargin">4.   WHAT ARE COOKIES AND GIFS. HOW DOES iQUEST USE THEM?</h3>
        <p>By using iQuest’s websites and/or software you are giving your consent to the use of cookies and GIFs. You can choose to reject them at any time, either by changing your browser settings (if your browser allows it) or by ceasing to use iQuest’s websites
            and/or software or by using the applicable opt-out functions. You should be aware that certain features are only available through the use of cookies and GIFs and if you choose not to accept them, such features may not be available to you.</p>
        <p>4.1 What are Cookies and GIFs?</p>
        <p>4.1.1. Cookies</p>
        <p>Cookies are small files containing a string of characters (text) that are sent to your browser from a website’s server. The cookie may contain a unique identifier but it does not contain personally identifiable information such as your name or email
            address. iQuest may use cookies when you visit its websites, use iQuest’s software or visit other websites where iQuest serves advertisements. The iQuest software client’s browser or your Internet browser stores the cookie on your computer&#8217;s
            hard drive and this may be accessed by the website during your next visit. Other websites may also send cookies to your browser but your browser will not allow those websites to see iQuest’s cookie data.</p>
        <p>Cookies have six parameters that can be passed to them:</p>
        <ul>
            <li>The name of the cookie;</li>
            <li>The value of the cookie;</li>
            <li>The expiration date of the cookie &#8211; this determines how long the cookie will remain active in your browser;</li>
            <li>The path the cookie is valid for &#8211; this sets the URL path the cookie us valid in. Web pages outside of that path cannot use the cookie;</li>
            <li>The domain the cookie is valid for &#8211; this makes the cookie accessible to pages on any of the servers when a site uses multiple servers in a domain;</li>
            <li>The need for a secure connection &#8211; this indicates that the cookie can only be used under a secure server condition, such as a site using SSL.</li>
        </ul>
        <p>4.1.2. Gifs</p>
        <p>iQuest web pages and client interfaces may include clear gifs, also known as web-beacons and tracking pixels. Gifs are tiny graphics with a unique identifier, which are used to count your visits to the page (but which do not retain any personally
            identifiable information). In addition, iQuest uses clear gifs in our HTML-based emails to let us know which emails have been opened and acted upon. This allows us to gauge the effectiveness of certain communications and the effectiveness of our
            marketing campaigns</p>
        <p>4.2 What type of Cookies does iQuest use?</p>
        <p>iQuest uses session cookies, persistent cookies and local shared objects (flash cookies).</p>
        <p>Session cookies are temporary cookies, or unique identifiers associated with your browser for the duration of your visit to iQuest’s websites or areas of the iQuest software client. Once you close your browser, the session cookie ID will disappear
            and information about your visit will not be retained.</p>
        <p>Persistent Cookies remain on your browser even after you close it and may be used by your browser on subsequent visits to the website.</p>
        <p>Local Shared Objects or ‘Flash Cookies’ are cookies written using the Adobe flash technology. These cookies are saved on your computer in the same way as other cookies but they cannot be managed at the browser level in the same way.</p>
        <p>4.3 How iQuest uses Cookies</p>
        <p>iQuest uses its own cookies for a variety of purposes, including to:</p>
        <p>1. Recognize you when you sign in and understand how you arrived at our website, so we can make sure that we provide you with relevant customer content and information. For example:</p>
        <ul>
            <li>if you arrived at our website by clicking on a link to hear about certain subscription packages, we can make sure you see content relevant to those offers;</li>
            <li>if your last purchase included VAT, we can make sure you are always provided with a VAT inclusive price;</li>
            <li>if your cookie was set a long time ago, we know you are not a new user and we will not show you content intended for new users, such as ‘how to use iQuest’ pages;</li>
        </ul>
        <p>2. Remember your chosen preferences, such as</p>
        <ul>
            <li>the language you choose to see our website in;</li>
            <li>the currency you wish to see our prices in;</li>
        </ul>
        <p>3. Fight against fraud;</p>
        <p>4. Inform iQuest about the version of the iQuest software client you are using so that we can provide you with new software updates and direct you to the relevant help sections;</p>
        <p>5. Enable you to access your account and account services through the iQuest Software client;</p>
        <p>6. Provide internal and customer analytics and gain statistics and metrics about our websites, such as total number of visitors and pageviews;</p>
        <p>7. Monitor the effectiveness and performance of our advertising and marketing campaigns and carry out research in order to help us to improve our products and websites;</p>
        <p>8. Initiate security measures such as ‘time-out’ when you have not logged into your account service area for a period of time;</p>
        <p>9. Populate your iQuest client with one of your iQuest contacts’ information, where this contact invited you to join iQuest;</p>
        <p>10. Provide iQuest ads most relevant to you when you visit other sites that display iQuest ads.</p>
        <p>4.4 Third Party Cookies</p>
        <p>In addition to iQuest’s cookies, iQuest’s analytics, ad-serving and affiliate partners may set cookies and access cookies on your computer, when you are using the iQuest software client or visiting an iQuest website.</p>
        <p>4.4.1 Advertising</p>
        <p>The advertisements of iQuest appearing on third-party websites and the advertisements of third parties appearing in the iQuest software, products and on third party websites are delivered to you by iQuest Advertising partners or other carefully selected
            ad serving partners (“Ad Serving Partners”).</p>
        <p>iQuest and its Ad Serving Partners may use non-personally identifiable information that you have provided in your iQuest profile or otherwise provided to iQuest, such as your age, gender, language and country of residence, as well as information about
            your relationship with iQuest’s websites, software, and products, in order to provide advertisements likely to be of greater interest to you and to help us measure and improve the performance of our advertising campaigns. iQuest and our Ad Serving
            Partners may use cookies and/or web-beacons (Gifs) to collect this information.</p>
        <p>4.4.2. Other Third Party Content</p>
        <p>Sometimes, iQuest’s websites may include widgets or embedded video content from third parties such as YouTube. When you view this content or use this widget, you may be accepting cookies from these websites. These cookies are not within our control
            and you should check with the relevant third party site for more information.</p>
        <p>4.5 Your Choices about Cookies</p>
        <p>We don’t recommend that you restrict or block cookies as this may impact on the functionality of our websites and products. However, if you choose to do so, please see the options available to you below. You can also find comprehensive information
            about cookies at <a href="http://www.aboutcookies.org">www.aboutcookies.org</a>.</p>
        <p>4.5.1 Browser Cookies</p>
        <p>The Help option on the toolbar of most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, how to delete cookies or how to disable cookies altogether.</p>
        <p>iQuest software browser cookies can be disabled by: accessing the File menu from your iQuest software client toolbar, choosing the Privacy option and un-checking the ‘Allow iQuest Browser Cookies’ box.</p>
        <p>4.5.2 Local Shared Objects (Flash Cookies)</p>
        <p>You can manage the usage of flash cookies via <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager.html">http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager.html</a>.</p>
        <p>You may also manage flash cookies through your browser depending on the version of Internet Explorer (or other browser) and media player you are using. Please also visit the Adobe website at <a href="http://kb2.adobe.com/cps/526/52697ee8.html">http://kb2.adobe.com/cps/526/52697ee8.html</a>
        </p>
        <h3 class="nomargin">5.   HOW DOES iQUEST PROTECT YOUR PERSONAL INFORMATION?</h3>
        <p>iQuest will take appropriate organisational and technical measures to protect the personal data and traffic data provided to it or collected by it with due observance of the applicable obligations and exceptions under the relevant legislation. Your
            personal and traffic data can only be accessed by authorized employees of iQuest or its affiliates, subsidiaries or service providers who need to have access to this data in order to be able to fulfill their given duties.</p>
        <h3 class="nomargin"> 6.   CONTACTING YOU</h3>
        <p>iQuest may from time to time ask you to provide information on your experiences which will be used to measure and improve quality. You are at no time under any obligation to provide any such data. Any and all information which is voluntarily submitted
            in feedback forms on the website or any survey that you take part in is used for the purposes of reviewing this feedback and improving the iQuest software, and iQuest products and websites.</p>
        <p>iQuest may contact you to send you messages about faults and service issues. Further, iQuest reserves the right to use email, the iQuest software or SMS to notify you of any eventual claims related to your use of iQuest software, the iQuest websites
            and/or iQuest products, including without limitation claims of violation of third party rights.</p>
        <h3 class="nomargin"> 7.   HOW CAN YOU ACCESS OR AMEND YOUR PERSONAL DATA?</h3>
        <p>You have the right to access and, where relevant, amend your personal information. Some of your information may be viewed or edited online by signing into your account page on www.iquestgroup.com.We will respond to requests to view, correct, complete
            or remove your personal information within a reasonable period of time and upon verification of your identity.</p>
        <p>iQuest will use all reasonable endeavours to accommodate requests to delete personal information unless it is required to be retained by law or for lawful business purposes. However, please note that due to the technical nature of the peer to peer
            network, it can sometimes take up to two weeks before your iQuest ID disappears completely from the peer to peer network. Your details may still appear in the search directory during this time.</p>
        <h3 class="nomargin">8.   HOW LONG IS YOUR PERSONAL DATA KEPT BY iQUEST?</h3>
        <p>iQuest will retain your information for as long as is necessary to: (1) fulfil any of the Purposes (as defined in article 3 of this Privacy Policy) or (2) comply with applicable legislation, regulatory requests and relevant orders from competent courts.</p>
        <p>iQuest will take appropriate technical and security measures to protect your information. By using this product, you consent to the storage of your personal information as described above.</p>
        <p>This Privacy Policy is in compliance with the regulations enforced by Directive 2009/136/Ec Of The European Parliament And Of The Council of 25 November 2009 amending Directive 2002/22/EC on universal service and users’ rights relating to electronic
            communication networks and services, Directive 2002/58/EC concerning the processing of personal data and the protection of privacy in the electronic communication sector and Regulation (EC) No 2006/2004 on cooperation between national authorities
            responsible for the enforcement of consumer protection laws and also with the Romanian laws in the matter of the processing of personal data and the protection of privacy in electronic communication: Law no. 506 of 17 November 2004 which is further
            completed by Law no. 272 of 29 June 2006, Emergency Ordinance no. 13 of 24 April 2012, Law no. 235 of 12 October 2015.</p>
    </div>
</div>
