
<div class='iqss-legal-content'>
    <header>
        <h1>Terms of Use</h1>
    </header>

    <div>
        <div>
            <p>This is an agreement between the iquestgroup.com site administrators and You (hereafter referred to by ‘Visitor’), as a user of the information presented on this site.</p>
            <h2>1. Site content and errors</h2>
            <p>The information on this site serves informative purposes and may contain errors which iQuest may not be held responsible for. As Visitor, you may report these errors via <a title="Contact" href="mailto:webmaster@iquestgroup.com" target="_blank">email</a>.
                iQuest doesn’t take responsibility for the information posted on the site by other people. The Visitor of the site agrees to free iQuest from responsibility for every legal action resulted from incorrect or abusive use of the iquestgroup.com
                site. iQuest tries to keep the site content and functionality errorless, but this cannot be granted.</p>
            <h2>2. Copyright</h2>
            <p>This website and its content are subject to copyright held by iQuest Technologies &#8211; © iQuest 2008-2016. All rights reserved. You may not copy, commercially exploit, adapt, alter, derive or otherwise use the information found on this site
                without the prior written permission of iQuest Technologies, except for your own personal, non-commercial use.</p>
            <h2>3. Charges</h2>
            <p>Accessing the iquestgroup.com site is free of charge. Also, the Visitor can set no further charge for using the iquestgroup.com site.</p>
            <h2>4. Modifications</h2>
            <p>iQuest reserves the right to change or interrupt the Terms and Conditions of Use, as well as the content of the site, with no previous notice and with no claim on the Visitor’s part.</p>
            <h2>5. The policy of the sites promoted on iquestgroup.com</h2>
            <p>iQuest shall not be held responsible for the confidentiality policy of other sites which do direct or indirect advertising using our website or sections of our site. We have the request that you read carefully the confidentiality policy of each
                site connected to iquestgroup.com. Our confidentiality policy is only related to the iquestgroup.com site.</p>
            <h2>6. Final provisions</h2>
            <p>iQuest shall not be held responsible for any prejudices brought by the use of the iquestgroup.com site. iQuest doesn’t try to break any law or agreement. In case any legal issues connected to iQuest should appear, we are open to solve them in
                a friendly manner, so please contact us. By accessing and visiting the iquestgroup.com site you accept and agree with the above-mentioned Terms and Conditions of Use. If you do not accept and agree with the above-mentioned Terms and Conditions
                of Use, please stop accessing the iquestgroup.com site.</p>
            <p>&nbsp;</p>
            <h1>The confidentiality policy applied by iquestgroup.com</h1>
            <p>By accessing and visiting the iquestgroup.com site you accept and agree with the above-mentioned Terms and Conditions of Use. If you do not accept and agree with the above-mentioned Terms and Conditions of Use, please stop accessing the iquestgroup.com
                site.</p>
            <h2>1. Collected information</h2>
            <p>iquestgroup.com collects anonymously information about your system, the browser you use, reference pages and other statistical information of this sort. This information is used to improve the access to the iquestgroup.com site, as well as for
                advertising purposes. As they are anonymous, these data can be made public without your accord.</p>
            <h2>2. Information received as a result of establishing contact with you</h2>
            <p>It is possible that you contact us at a certain point in time in order to report an error. It is therefore possible that you offer us your name, your email address and other personal information. This information will not be used in any way in
                order to be distributed or sold to a third party; neither will it be used publicly without your consent. Nevertheless, we reserve the right to send you advertising materials strictly related to iquestgroup.com, but under no circumstance related
                to any other topic.</p>
        </div>
    </div>
</div>
