@import 'variables.scss';

/*
    iqss buttons
*/
@mixin iQssButton($borderColor, $textColor) {
	background-color: white;
    border: 1px solid $borderColor;
    outline-color: $borderColor;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	text-align: center;
    padding: 0 10px;
    color: $textColor;
}

.iqss-cancelButton {
    @include iQssButton($dark-grey-color, $very-dark-grey-color);
}

.iqss-cancelButton:hover {
	background-color: $dark-grey-color;
}

.iqss-cancelButton:active {
	position:relative;
	top:1px;
}

.iqss-button {
	@include iQssButton($blue-color, $blue-color);
}

.iqss-button:hover {
	background-color: $dark-grey-color;
}

.iqss-button:active {
	position:relative;
	top:1px;
}

/*
    iqss checkbox
*/
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input[type="checkbox"] + label span{
    display:inline-block;
    background: url(../img/uncheck-box.png) left bottom no-repeat;
    cursor: pointer;
    display:inline-block;
    width:19px;
    height:19px;
}

input[type="checkbox"]:checked + label span{
    background:url(../img/check-box.png) left bottom no-repeat;
}

/*
    iqss Angual UI Tab
*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: $orange-color;
}
