.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.player {
    overflow: hidden;
}
.zoom1-2{
    zoom:120%;
}
.zoom1-3{
    zoom:130%;
}
.zoom1-4{
    zoom:140%;
}
.zoom1-5{
    zoom:150%;
}
.zoom1-6{
    zoom:160%;
}
.zoom1-7{
    zoom:170%;
}
.zoom1-8{
    zoom:180%;
}
.zoom1-9{
    zoom:190%;
}
.zoom2{
    zoom:200%;
}