@font-face {
    font-family: "Karla";
    src: url('../fonts/karla-regular-webfont.woff2'),
         url('../fonts/karla-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Karla";
    src: url('../fonts/karla-bold-webfont.woff2'),
         url('../fonts/karla-bold-webfont.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Karla";
    src: url('../fonts/karla-italic-webfont.woff2'),
         url('../fonts/karla-italic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Karla";
    src: url('../fonts/karla-bolditalic-webfont.woff2'),
         url('../fonts/karla-bolditalic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}


body{
    background-color: #ffffff !important;
    font-family: 'Karla', Arial, sans-serif;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.player {
    overflow: hidden;
}
.ng-slide-view {
    height: 100%;
    width: 100%;
}
