/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-regular-webfont.woff2"), url("../fonts/karla-regular-webfont.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-bold-webfont.woff2"), url("../fonts/karla-bold-webfont.woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-italic-webfont.woff2"), url("../fonts/karla-italic-webfont.woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-bolditalic-webfont.woff2"), url("../fonts/karla-bolditalic-webfont.woff");
  font-weight: normal;
  font-style: italic; }

/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-regular-webfont.woff2"), url("../fonts/karla-regular-webfont.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-bold-webfont.woff2"), url("../fonts/karla-bold-webfont.woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-italic-webfont.woff2"), url("../fonts/karla-italic-webfont.woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-bolditalic-webfont.woff2"), url("../fonts/karla-bolditalic-webfont.woff");
  font-weight: normal;
  font-style: italic; }

/*
    Nav bar styling
*/
.iqss-navbar {
  background-image: url(../img/brand/head-bg.png);
  font-family: 'Karla', Arial, sans-serif;
  color: white; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: white; }

.iqss-navbar-header {
  min-height: 70px; }

.iqss-navbar-brand {
  line-height: 70px;
  min-height: 70px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 16px;
  float: left;
  padding: 0; }

@media (min-width: 768px) {
  .iqss-navbar-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0px;
    min-height: 70px;
    font-size: 18px;
    padding-right: 0;
    min-width: 490px; } }

.iqss-navbar-nav-menu-container li a {
  line-height: 70px;
  min-height: 70px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0;
  padding-right: 40px; }

.iqss-navbar-nav-menu-container ul li:last-child a {
  padding-right: 0; }

.iqss-navbar-activeNav > a {
  color: #faa61a !important; }

.iqss-navbar-right {
  padding-right: 10px; }

.iqss-navbar-right > li > a {
  padding: 0px;
  font-size: 14px; }

.iqss-navbar-right > li {
  float: right;
  padding-right: 30px;
  padding-top: 25px;
  background-image: url(../img/settings.png);
  background-repeat: no-repeat;
  background-position: center right;
  height: 70px; }

.iqss-navbar-right li > span {
  font-size: 11px;
  float: right; }

.navbar-nav .dropdown-menu.iqss-navbar-dropdown-menu {
  margin-top: 5px; }

.iqss-navbar-dropdown-menu .buble-indicator.top {
  border-color: #D9D9D9;
  margin-top: -25px;
  right: 10px; }

.iqss-navbar-dropdown-menu .buble-indicator.top::before {
  border-color: white; }

/*
    Body styling
*/
.iqss-container-fluid {
  padding-top: 114px;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%; }

.iqss-hidden {
  visibility: hidden; }

.iqss-main-container {
  height: 100%; }

.iqss-content {
  padding-bottom: 30px;
  height: 100%; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  font-family: 'Verdana', 'Times New Roman', serif;
  background-color: #eeeeee;
  color: #5a5a5a;
  font-size: 12px; }

a, a:hover, a:focus {
  color: #009da5; }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  z-index: 2000;
  background: #f5f5f5; }

footer hr {
  width: auto;
  background: #5a5a5a;
  height: 1px;
  margin: 0 10px;
  box-sizing: border-box; }

footer label {
  float: right;
  font-weight: normal;
  color: #009da5;
  font-size: 11px;
  line-height: 30px;
  margin: 0 10px 0 0;
  vertical-align: middle; }

.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.player {
  overflow: hidden; }

.ng-slide-view {
  height: 100%;
  width: 100%; }

.buble-indicator {
  border: 10px solid;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  outline-color: black; }

.buble-indicator::before {
  content: "";
  border: 10px solid;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute; }

.buble-indicator.top {
  margin-top: -20px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important; }

.buble-indicator.left {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important; }

.buble-indicator.top::before {
  margin-top: -8.5px;
  margin-left: -10px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important; }
