@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';

/*
    Nav bar styling
*/
.iqss-navbar {
    background-image: url(../img/brand/head-bg.png);
}

.iqss-navbar-header {
    min-height: $header-height;
}

.iqss-navbar-brand {
    @include verticalAlignTextMiddle;
    font-size: 1.5em;
    font-weight: 100;
}

.iqss-navbar-nav {
    min-height: $header-height;
    font-size: 1.4em;
    font-weight: bold;
}

.iqss-navbar-nav li a {
    @include verticalAlignTextMiddle;
}

@media (min-width: $bootstrap-cs-breakpoint) {
    .iqss-navbar-header {
        width: percentage(1/6);
    }
}

/*
    Body styling
*/
body{
    background-color: #ffffff !important;
    font-family: 'Karla', Arial, sans-serif;
}

.iqss-content {
    padding-top: 80px;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.player {
    overflow: hidden;
}
.ng-slide-view {
    height: 100%;
    width: 100%;
}
