@font-face {
    font-family: "Karla";
    src: url('/modules/core/fonts/karla-regular-webfont.woff2'),
         url('/modules/core/fonts/karla-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Karla";
    src: url('/modules/core/fonts/karla-bold-webfont.woff2'),
         url('/modules/core/fonts/karla-bold-webfont.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Karla";
    src: url('/modules/core/fonts/karla-italic-webfont.woff2'),
         url('/modules/core/fonts/karla-italic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Karla";
    src: url('/modules/core/fonts/karla-bolditalic-webfont.woff2'),
         url('/modules/core/fonts/karla-bolditalic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}
