@mixin verticalAlignTextMiddle {
    line-height: $header-height;
    min-height: $header-height;
    padding-bottom: 0px;
    padding-top: 0px;
}

@mixin positionInCenterInResponsiveContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0px;
}

@mixin slideShowListSlideShowModificationInfo {
    font-size: $very-small-font-size;
    color: $very-dark-grey-color;
    padding-left: $slideshow-list-default-horizontal-padding;
}

@mixin border {
    border: 1px solid $darker-grey-color;
    box-shadow: 1px 4px 4px $darker-grey-color;
}

@mixin dynamicallyAlingCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@mixin formControl {
    border: 1px solid $dark-grey-color;
    height: $font-size + 15px;
    box-shadow: 2px 2px 2px $dark-grey-color;
    border-radius: 0px;
}

@mixin textEllipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
