@mixin verticalAlignTextMiddle {
    line-height: $header-height;
    min-height: $header-height;
    padding-bottom: 0px;
    padding-top: 0px;
}

@mixin positionDivInCenterInResponsiveContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
