@mixin verticalAlignTextMiddle {
    line-height: $header-height;
    min-height: $header-height;
    padding-bottom: 0px;
    padding-top: 0px;
}

@mixin positionInCenterInResponsiveContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0px;
}

@mixin slideShowListSlideShowModificationInfo {
    font-size: $very-small-font-size;
    color: $very-dark-grey-color;
    padding-left: $slideshow-list-default-horizontal-padding;
}
