@import 'variables.scss';

.iqss-core-dialog {
    border-radius: 6px;
}

.iqss-core-dialog .modal-dialog {
    width: 200px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

.iqss-core-dialog .modal-dialog .modal-content {
    margin-top: 0;
    height: 150px;
}

.iqss-core-dialog-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.iqss-core-dialog-message {
    margin: 10px;
    font-size: $big-font-size;
    align-items: flex-end;
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.iqss-core-dialog-footer {
    display: flex;
    flex-flow: row-reverse;
    margin: 5px 10px;
}

.iqss-core-okdialog-header {
    background: url(../../../modules/core/img/success.svg) center center no-repeat;
    height: 25px;
    margin: 5px;
}

.iqss-core-warningDialog-header {
    background: url(../../../modules/core/img/warning.svg) center center no-repeat;
    height: 25px;
    margin: 5px;
}
