@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';

/*
    Nav bar styling
*/
.iqss-navbar {
    background-image: url(/modules/core/img/brand/head-bg.png);
    font-family: 'Karla', Arial, sans-serif;
    color: white;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
}

.iqss-navbar-header {
    min-height: $header-height;
}

.iqss-navbar-brand {
    @include verticalAlignTextMiddle;
    font-size: $header-brand-font-size;
    float: left;
    padding: 0;
}

@media (min-width: $bootstrap-xs-breakpoint) {
    .iqss-navbar-nav {
        @include positionInCenterInResponsiveContainer;
        min-height: $header-height;
        font-size: $header-big-font-size;
        padding-right: 0;
        min-width: 490px;
    }
}

// These very specific and nested selectors are necessary to overwrite Bootstrap's
// styling for dropdown menus because they use very specific selectors too. :-/
.iqss-navbar-nav-menu-container {
    .iqss-navbar-nav {
        > li {
            > a {
                @include verticalAlignTextMiddle;
                padding-left: 0;
                padding-right: 40px;
            }

            > ul.dropdown-menu {
                padding: 0;

                > li {
                    &.active {
                        > a {
                            color: $orange-color;
                            background: #707070;

                            &:hover, &:focus {
                                background: #575757;
                            }
                        }
                    }
                }
            }
        }
    }
}

.iqss-navbar-nav-menu-container ul li:last-child a {
    padding-right: 0;
}

// we need to use !important here because '.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand'
// is too strong, and somehow overwriting that one doesn't work
.iqss-navbar-activeNav > a {
    color: $orange-color !important;
}

.iqss-navbar-right {
    padding-right: 10px;
}

.iqss-navbar-right > li {
    float: right;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: center right;
    height: $header-height;
    display: flex;
    align-items: center;
}


.iqss-navbar-right-welcome {
    font-size: $header-small-font-size;
    float: right;
}

.iqss-navbar-right-profileActionsLink {
    padding: 0px;
    font-size: 14px;
    display: flex;
    cursor: pointer;
}

.iqss-navbar-right-settingIcon {
    background: url(/modules/core/img/settings.svg) right center no-repeat;
    width: 30px;
    margin-left: 10px;
}

.iqss-navbar-right-userName {
    color: $blue-color;
}

.navbar-nav .open .dropdown-menu {
    &.iqss-navbar-dropdown-menu {
        left: -20%;
        position: absolute;
        background: #fff;
        margin-top: 5px;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);

        > li > a {
            color: #333;
            padding: 3px 20px;
        }
    }
}

.nav > li > a:hover {
    border: none;
    outline: 0;
}

.nav > li > a:focus {
    border: none;
    outline: 0;
}

.nav > li > a:active {
    border: none;
    outline: 0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    background-image: none;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
    box-shadow: none;
}

.iqss-navbar-dropdown-menu .buble-indicator.top {
    border-color: #D9D9D9;
    margin-top: $buble-indicator-displace - 5;
    right: 10px;
}

.iqss-navbar-dropdown-menu .buble-indicator.top::before {
    border-color: white;
}
