/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-regular-webfont.woff2"), url("../fonts/karla-regular-webfont.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-bold-webfont.woff2"), url("../fonts/karla-bold-webfont.woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-italic-webfont.woff2"), url("../fonts/karla-italic-webfont.woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Karla";
  src: url("../fonts/karla-bolditalic-webfont.woff2"), url("../fonts/karla-bolditalic-webfont.woff");
  font-weight: normal;
  font-style: italic; }

/*
    Nav bar styling
*/
.iqss-navbar {
  background-image: url(../img/brand/head-bg.png);
  font-family: 'Karla', Arial, sans-serif;
  color: white; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: white; }

.iqss-navbar-header {
  min-height: 70px; }

.iqss-navbar-brand {
  line-height: 70px;
  min-height: 70px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 16px;
  float: left;
  padding: 0; }

@media (min-width: 768px) {
  .iqss-navbar-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0px;
    min-height: 70px;
    font-size: 18px;
    padding-right: 0;
    min-width: 490px; } }

.iqss-navbar-nav-menu-container li a {
  line-height: 70px;
  min-height: 70px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0;
  padding-right: 40px; }

.iqss-navbar-nav-menu-container ul li:last-child a {
  padding-right: 0; }

.iqss-navbar-activeNav > a {
  color: #faa61a !important; }

.iqss-navbar-right {
  padding-right: 10px; }

.iqss-navbar-right > li > a {
  padding: 0px;
  font-size: 14px; }

.iqss-navbar-right > li {
  float: right;
  padding-right: 30px;
  padding-top: 25px;
  background-image: url(../img/settings.png);
  background-repeat: no-repeat;
  background-position: center right;
  height: 70px; }

.iqss-navbar-right li > span {
  font-size: 11px;
  float: right; }

.navbar-nav .dropdown-menu.iqss-navbar-dropdown-menu {
  margin-top: 5px; }

.iqss-navbar-dropdown-menu .buble-indicator.top {
  border-color: #D9D9D9;
  margin-top: -25px;
  right: 10px; }

.iqss-navbar-dropdown-menu .buble-indicator.top::before {
  border-color: white; }
