@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';

/*
    Nav bar styling
*/
.iqss-navbar {
    background-image: url(../img/brand/head-bg.png);
    font-family: 'Karla', Arial, sans-serif;
    color: white;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
}

.iqss-navbar-header {
    min-height: $header-height;
}

.iqss-navbar-brand {
    @include verticalAlignTextMiddle;
    font-size: $header-brand-font-size;
    float: left;
    padding: 0;
}

@media (min-width: $bootstrap-xs-breakpoint + 1) {
    .iqss-navbar-nav {
        @include positionInCenterInResponsiveContainer;
        min-height: $header-height;
        font-size: $header-big-font-size;
        padding-right: 0;
        min-width: 490px;
    }
}

.iqss-navbar-nav-menu-container li a {
    @include verticalAlignTextMiddle;
    padding-left: 0;
    padding-right: 40px;
}

.iqss-navbar-nav-menu-container ul li:last-child a {
    padding-right: 0;
}

// we need to use !important here because '.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand'
// is too strong, and somehow overwriting that one doesn't work
.iqss-navbar-activeNav > a {
    color: #faa61a !important;
}

.iqss-navbar-right {
    padding-right: 10px;
}

.iqss-navbar-right > li > a{
    padding: 0px;
    font-size: 14px;
}

.iqss-navbar-right > li {
    float: right;
    padding-right: 30px;
    padding-top: 25px;
    background-image: url(../img/settings.png);
    background-repeat: no-repeat;
    background-position: center right;
    height: $header-height;
}


.iqss-navbar-right li > span{
    font-size: $header-small-font-size;
    float: right;
}
