@import 'variables.scss';
@import 'mixins.scss';

.iqss-page-header {
    background-color: white;
    height: $page-header-height;
    line-height: $page-header-height;
    position: fixed;
    left: 0px;
    top: $header-height;
    width: 100%;
    z-index: 1000;
    box-sizing: content-box;
    box-shadow: 0 2px 4px $dark-grey-color;
    color: $very-dark-grey-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iqss-page-header > hr {
    width: 100%;
    background: #aa0000;
    border-bottom-color: none;
    height: 1px;
    margin-top: 0;
    margin: 0 10px 0 10px;
    position: absolute;
    top: 42px;
}

.iqss-page-header div div {
    float: left;
}

.iqss-page-header > section {
    height: $page-header-height;
    line-height: $page-header-height;
}
