$header-height: 80px;

$bootstrap-xs-breakpoint: 768px;

$menu-left-padding: 2.4%;

$subheader-height: 44px;

$normal-text-color: #5a5a5a;

$border-color: #eeeeee;

$blue-color: #009da5;

/*
    Fonts
*/
$small-font-size: 11px;

$font-size: 12px;

$big-font-size: 14px;

$header-big-font-size: 20px;

$header-small-font-size: 11px;
