$header-height: 80px;

$bootstrap-xs-breakpoint: 768px;

$menu-left-padding: 2.4%;

$subheader-height: 44px;

/*
    color palette
*/

$blue-color: #009da5;

$very-dark-grey-color: #5a5a5a;

$dark-grey-color: #eeeeee;

$light-grey-color: #f5f5f5;

/*
    colors
*/

$normal-text-color: $very-dark-grey-color;

/*
    Fonts
*/
$small-font-size: 11px;

$font-size: 12px;

$big-font-size: 14px;

$header-big-font-size: 20px;

$header-small-font-size: 11px;
