// The offset is required to ensure that the picture does not appear
// above and below the slide due to the skew of the divs that cover
// it to simulate the 10 degree crop.
$picture-cut-offset: 5px;

.template-iquest-announcement {
    width: 1920px;
    height: 1080px;
    position: relative;
    padding-top: 135px;
    padding-left: 105px;
    color: #444;
    font-family: 'Segoe UI', sans-serif;
    cursor: default;

    // The picture is "cut" by the two divs on the left and the right.
    // Using the clip-path feature would have been a better solution,
    // but browser support for it is very limited.
    .announcement-picture-container {
        .announcement-picture {
            top: 0;
            right: 55px;
            height: 1080px;
            position: absolute;
            z-index: -2;
        }

        .announcement-picture-cut-left {
            top: -$picture-cut-offset;
            right: 600px;
            width: 10000px;
            height: 1080px + $picture-cut-offset * 2;
            background: #fff;
            position: absolute;
            z-index: -1;
            transform: skewX(-10deg);
        }

        .announcement-picture-cut-right {
            top: -$picture-cut-offset;
            left: 1770px;
            width: 10000px;
            height: 1080px + $picture-cut-offset * 2;
            background: #fff;
            position: absolute;
            z-index: -1;
            transform: skewX(-10deg);
        }
    }

    .announcement-title {
        width: 1260px;
        height: 115px;
        font-size: 80px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .announcement-body {
        width: 1080px;;

        a {
            color: #0095d6;
            text-decoration: none;
        }

        .announcement-audience {
            margin-top: 70px;

            .announcement-audience-label {
                font-size: 30px;
            }

            .announcement-audience-text {
                height: 90px;
                color: #0095d6;
                font-size: 45px;
                font-weight: 500;
                letter-spacing: 3px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .announcement-content {
            height: 200px;
            margin-top: 50px;
            font-size: 36px;
            font-weight: 200;
            word-wrap: break-word;
            overflow: hidden;
        }

        .announcement-responsible {
            margin-top: 50px;

            .announcement-responsible-label {
                font-size: 30px;
            }

            .announcement-responsible-name {
                color: #0095d6;
                font-size: 45px;
                font-weight: 500;
                letter-spacing: 3px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .announcement-responsible-desc {
                font-size: 30px;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .announcement-responsible-contact {
                margin-top: 50px;
                font-size: 30px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .announcement-qr-logo {
        right: 15px;
        bottom: 15px;
        width: 140px;
        position: absolute;

        .announcement-qr {
            display: block;
            width: 100px;
            height: 100px;
            margin: 20px auto;
        }

        .announcement-logo {
            display: block;
            width: 125px;
            height: 31px;
            margin: 0 auto;
            background-image: url('[RELATIVE-PATH]/logo.png');
            background-size: cover;
        }
    }
}
