.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
!public/lib
public/lib/*
!public/lib/pubnub
app/tests/coverage/
.bower-*/
.idea/
obj/
packages/
.ntvs_analysis.dat
*.suo
.vs/*
*.dll
*.css

