// The offset is required to ensure that the picture does not appear
// above and below the slide due to the skew of the divs that cover
// it to simulate the 10 degree crop.
$picture-cut-offset: 5px;

.template-iquest-available-jobs {
    width: 1920px;
    height: 1080px;
    position: relative;
    padding-top: 125px;
    padding-left: 105px;
    color: #444;
    font-family: 'Segoe UI', sans-serif;
    cursor: default;
    display: flex;
    flex-flow: column;

    // The picture is "cut" by the two divs on the left and the right.
    // Using the clip-path feature would have been a better solution,
    // but browser support for it is very limited.
    .jobs-picture-container {
        .jobs-picture {
            top: 0;
            right: 55px;
            height: 1080px;
            position: absolute;
            z-index: -2;
        }

        .jobs-picture-cut-left {
            top: -$picture-cut-offset;
            right: 600px;
            width: 10000px;
            height: 1080px + $picture-cut-offset * 2;
            background: #fff;
            position: absolute;
            z-index: -1;
            transform: skewX(-10deg);
        }

        .jobs-picture-cut-right {
            top: -$picture-cut-offset;
            left: 1770px;
            width: 10000px;
            height: 1080px + $picture-cut-offset * 2;
            background: #fff;
            position: absolute;
            z-index: -1;
            transform: skewX(-10deg);
        }
    }

    .jobs-heading {
        width: 1260px;
        height: 90px;
        font-size: 80px;
        font-weight: 500;
        line-height: 85px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .jobs-body {
        width: 1080px;
        margin-top: 105px;
        display: flex;
        flex-flow: column;
        flex: 1;

        a {
            color: #0095d6 !important;
            text-decoration: none;
        }

        .jobs-title-label {
            font-size: 30px;
        }

        .jobs-title {
            color: #0095d6;
            font-size: 65px;
            font-weight: 500;
            letter-spacing: 3px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .jobs-location-label {
            font-size: 30px;
        }

        .jobs-location {
            color: #0095d6;
            font-size: 45px;
            font-weight: 500;
            letter-spacing: 3px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .jobs-content {
            height: 225px;
            margin-top: 50px;
            font-size: 36px;
            font-weight: 200;
            word-wrap: break-word;
            overflow: hidden;
            flex: 1;

            p {
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .jobs-message {
            margin-top: 20px;
            color: #0095d6;
            font-size: 45px;
            font-weight: 500;
            letter-spacing: 3px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .jobs-contact {
            margin-top: 35px;
            font-size: 30px;
            font-weight: 200;
            line-height: 35px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .jobs-qr-logo {
        right: 15px;
        bottom: 15px;
        width: 140px;
        position: absolute;

        .jobs-qr {
            display: block;
            width: 100px;
            height: 100px;
            margin: 20px auto;
        }

        .jobs-logo {
            display: block;
            width: 125px;
            height: 31px;
            margin: 0 auto;
            background-image: url('[RELATIVE-PATH]/logo.png');
            background-size: cover;
        }
    }
}
