<div class='iqss-core-dialog-container'>
    <div class='iqss-core-dialog-message'>
         <div>{{modalDialogMessage}}</div>
    </div>
    <div class='iqss-core-dialog-footer'>
        <div class='iqss-core-dialog-footer'>
            <input type="button" class='iqss-deviceedit-selectSlideShows-footer-actions-cancel iqss-cancelButton' value="Cancel" ng-click="$close('cancel')" />
            <input type="button" class='iqss-button' value="Ok" ng-click="$close('ok')"/>
        </div>
    </div>
</div>
