// The offset is required to ensure that the picture does not appear
// above and below the slide due to the skew of the divs that cover
// it to simulate the 10 degree crop.
$picture-cut-offset: 5px;

.event-template {
    width: 1920px;
    height: 1080px;
    position: relative;
    padding-top: 85px;
    padding-left: 105px;
    color: #444;
    font-family: 'Segoe UI', sans-serif;

    // The picture is "cut" by the two divs on the left and the right.
    // Using the clip-path feature would have been a better solution,
    // but browser support for it is very limited.
    .event-picture-container {
        .event-picture {
            top: 0;
            left: 0;
            width: 1920px;
            height: 1080px;
            position: absolute;
            z-index: -2;
        }

        .event-picture-cut-left {
            top: -$picture-cut-offset;
            right: 600px;
            width: 10000px;
            height: 1080px + $picture-cut-offset * 2;
            background: #fff;
            position: absolute;
            z-index: -1;
            transform: skewX(-10deg);
        }

        .event-picture-cut-right {
            top: -$picture-cut-offset;
            left: 1770px;
            width: 10000px;
            height: 1080px + $picture-cut-offset * 2;
            background: #fff;
            position: absolute;
            z-index: -1;
            transform: skewX(-10deg);
        }
    }

    .event-header {
        width: 1260px;
        font-weight: 500;
        text-transform: uppercase;
        
        .event-name {
            height: 90px;
            font-size: 80px;
            line-height: 85px;
        }

        .event-theme {
            height: 50px;
            font-size: 45px;
            line-height: 45px;
            color: #0095d6;
        }
    }

    .event-agenda {
        margin-top: 60px;

        &:after {
            display: table;
            content: "";
            clear: both;
        }

        .event-agenda-label {
            font-size: 30px;
        }

        .event-agenda-item {
            width: 390px;
            float: left;

            .event-agenda-item-hours {
                font-size: 45px;
                font-weight: 500;
                color: #0095d6;
            }

            .event-agenda-item-desc {
                font-size: 30px;
            }
        }
    }

    .event-body {
        width: 1080px;
        margin-top: 45px;
        
        a {
            color: #0095d6 !important;
            text-decoration: none;
        }
        
        .event-content {
            height: 145px;
            font-size: 27px;
            font-weight: 200;
            line-height: 35px;
        }

        .event-details {
            margin-top: 15px;

            &:after {
                display: table;
                content: "";
                clear: both;
            }

            .event-date {
                width: 340px;
                float: left;

                .event-date-label {
                    font-size: 30px;
                }

                .event-date-day {
                    font-size: 108px;
                    font-weight: 500;
                    color: #0095d6;
                    line-height: 115px;
                }

                .event-date-month, .event-date-year {
                    font-size: 30px;
                    font-weight: 500;
                }
            }

            .event-location {
                width: 640px;
                float: right;

                .event-location-label {
                    font-size: 30px;
                }

                .event-location-city {
                    font-size: 108px;
                    font-weight: 500;
                    color: #0095d6;
                    line-height: 115px;
                    text-transform: uppercase;
                }

                .event-location-details {
                    width: 425px;
                    font-size: 30px;
                    font-weight: 500;
                }
            }
        }

        .event-audience {
            margin-top: 15px;

            .event-audience-label {
                font-size: 30px;
            }

            .event-audience-text {
                color: #0095d6;
                font-size: 45px;
                font-weight: 500;
                line-height: 55px;
                text-transform: uppercase;
            }

            .event-audience-contact {
                margin-top: 10px;
                font-size: 30px;
                font-weight: 200;
                line-height: 35px;
            }
        }
    }

    .event-qr-logo {
        right: 15px;
        bottom: 15px;
        width: 140px;
        position: absolute;

        .event-qr {
            display: block;
            width: 100px;
            height: 100px;
            margin: 20px auto;
        }

        .event-logo {
            display: block;
            width: 125px;
            height: 31px;
            margin: 0 auto;
            background-image: url('[RELATIVE-PATH]/logo.png');
            background-size: cover;
        }
    }
}
