.template-iquest-agenda-event {
  width: 1920px;
  height: 1080px;
  position: relative;
  padding-top: 85px;
  padding-left: 105px;
  color: #444;
  font-family: 'Segoe UI', sans-serif;
  cursor: default;
  display: flex;
  flex-flow: column; }
  .template-iquest-agenda-event .event-picture-container .event-picture {
    top: 0;
    right: 55px;
    height: 1080px;
    position: absolute;
    z-index: -2; }
  .template-iquest-agenda-event .event-picture-container .event-picture-cut-left {
    top: -5px;
    right: 600px;
    width: 10000px;
    height: 1090px;
    background: #fff;
    position: absolute;
    z-index: -1;
    transform: skewX(-10deg); }
  .template-iquest-agenda-event .event-picture-container .event-picture-cut-right {
    top: -5px;
    left: 1770px;
    width: 10000px;
    height: 1090px;
    background: #fff;
    position: absolute;
    z-index: -1;
    transform: skewX(-10deg); }
  .template-iquest-agenda-event .event-header {
    width: 1260px;
    font-weight: 500;
    margin-bottom: 60px; }
    .template-iquest-agenda-event .event-header .event-name {
      font-size: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .template-iquest-agenda-event .event-header .event-theme {
      font-size: 45px;
      color: #0095d6;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .template-iquest-agenda-event .event-agenda {
    width: 1220px;
    margin-bottom: 45px; }
    .template-iquest-agenda-event .event-agenda .event-agenda-label {
      font-size: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .template-iquest-agenda-event .event-agenda .event-agenda-items {
      display: flex;
      flex-flow: row; }
      .template-iquest-agenda-event .event-agenda .event-agenda-items .event-agenda-item {
        min-width: 390px;
        margin-left: 20px; }
        .template-iquest-agenda-event .event-agenda .event-agenda-items .event-agenda-item .event-agenda-item-hours {
          font-size: 45px;
          font-weight: 500;
          color: #0095d6;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .template-iquest-agenda-event .event-agenda .event-agenda-items .event-agenda-item .event-agenda-item-desc {
          font-size: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .template-iquest-agenda-event .event-agenda .event-agenda-items .event-agenda-item:first-child {
          margin-left: 0; }
  .template-iquest-agenda-event .event-body {
    width: 1080px;
    display: flex;
    flex-flow: column;
    flex: 1; }
    .template-iquest-agenda-event .event-body a {
      color: #0095d6 !important;
      text-decoration: none; }
    .template-iquest-agenda-event .event-body .event-content {
      height: 145px;
      font-size: 27px;
      font-weight: 200;
      word-wrap: break-word;
      overflow: hidden;
      flex: 1; }
    .template-iquest-agenda-event .event-body .event-details {
      margin-top: 15px;
      display: flex;
      flex-flow: row; }
      .template-iquest-agenda-event .event-body .event-details .event-date {
        min-width: 340px; }
        .template-iquest-agenda-event .event-body .event-details .event-date .event-date-label {
          font-size: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .template-iquest-agenda-event .event-body .event-details .event-date .event-date-day {
          font-size: 108px;
          font-weight: 500;
          color: #0095d6;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .template-iquest-agenda-event .event-body .event-details .event-date .event-date-month, .template-iquest-agenda-event .event-body .event-details .event-date .event-date-year {
          font-size: 30px;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
      .template-iquest-agenda-event .event-body .event-details .event-location {
        min-width: 640px; }
        .template-iquest-agenda-event .event-body .event-details .event-location .event-location-label {
          font-size: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .template-iquest-agenda-event .event-body .event-details .event-location .event-location-city {
          font-size: 108px;
          font-weight: 500;
          color: #0095d6;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .template-iquest-agenda-event .event-body .event-details .event-location .event-location-details {
          width: 425px;
          font-size: 30px;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
    .template-iquest-agenda-event .event-body .event-audience {
      margin-top: 15px; }
      .template-iquest-agenda-event .event-body .event-audience .event-audience-label {
        font-size: 30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .template-iquest-agenda-event .event-body .event-audience .event-audience-text {
        color: #0095d6;
        font-size: 45px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .template-iquest-agenda-event .event-body .event-audience .event-audience-contact {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 200;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
  .template-iquest-agenda-event .event-qr-logo {
    right: 15px;
    bottom: 15px;
    width: 140px;
    position: absolute; }
    .template-iquest-agenda-event .event-qr-logo .event-qr {
      display: block;
      width: 100px;
      height: 100px;
      margin: 20px auto; }
    .template-iquest-agenda-event .event-qr-logo .event-logo {
      display: block;
      width: 125px;
      height: 31px;
      margin: 0 auto;
      background-image: url("[RELATIVE-PATH]/logo.png");
      background-size: cover; }
