@import '../../core/css/mixins.scss';
@import '../../core/css/variables.scss';

.iqss-user-page-header-container {
    display: flex;
}

.iqss-sign-signInLink {
    background: url(../../../modules/core/img/login.svg) left center no-repeat;
    @include standardSubHeaderAction;
}

.iqss-user-signUpLink {
    background: url(../../../modules/core/img/sign-up.svg) left center no-repeat;
    @include standardSubHeaderAction;
}

.iqss-sign-saveLink {
    background: url(../../../modules/core/img/save.svg) left center no-repeat;
    @include standardSubHeaderAction;
}

.iqss-user-content {
    width: 80%;
    max-width: 500px;
    @include standardMainArea;
}

.iqss-user-field {
    flex: 1;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.iqss-user-field-label {
    flex: 1;
}

.iqss-user-field-value {
    flex: 1;
}

.iqss-user-field-value input {
    width: 100%;
    max-width: $form-controls-width;
}

.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}
