<section data-ng-controller="DevicesController" data-ng-init="findOne()" style="margin-top: 58px;">
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="deviceId">Device Id</label>
                    <div class="controls">
                        <input type="text" data-ng-model="device.deviceId" id="deviceId" class="form-control" placeholder="Device Id" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="device.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="location">Location</label>
                    <div class="controls">
                        <select ng-model="device.location" ng-options="location.name as location.name for location in locations"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Slide Show</label>
                    <div class="controls">
                        <select ng-model="selectedSlideShow" ng-options="slideshow as slideshow.name for slideshow in slideshows"></select>
                        <input type="button" ng-click="addSlideShow()" value="Add to slideshows"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="locationk">Slide shows to play</label>
                    <div class="controls">
                        <div class="slide-show" ng-repeat = "entry in device.slideAgregation.playList">
                            <div>{{entry.slideShow.name}}
                                <input type="button" ng-click="removeSlideshow(entry)" value="X">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="checkbox" ng-checked='active' data-ng-model="device.active" id="active" placeholder="Active" required>
                        <label for='active'><span></span>Active</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastHealthReport">Last health report:</label>
                    <div>
                        <label class="controls">{{device.lastHealthReport | date:'MM/dd/yyyy HH:mm:ss'}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                    <input type="button" value="Remove" ng-click="remove()" class="btn btn-default">
                    <input type="button" value="Cancel" ng-click="cancel()" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
<section received-Device-Event-Popup></section>
