<section data-ng-controller="DevicesController" data-ng-init="findOne()">
    <div class='iqss-page-header'>
        <div class='iqss-deviceedit-header-container'>
            <div class="iqss-deviceedit-header-status iqss-deviceedit-header-status-{{getDeviceStatus(device)}}">
            </div>
            <div class="iqss-deviceedit-header-title" ng-bind="device.name">
            </div>
            <div class='iqss-slideshows-header-actions iqss-slideshows-links'>
                <div class='iqss-slideshowedit-saveLink' ng-click="update()">Save</div>
                <a href='#' data-ng-click='remove();' class='iqss-slideshows-slideshow-deleteLink'>Remove</a>
            </div>
        </div>
    </div>
    <div class='iqss-deviceedit-attributes'>
        <div class='iqss-deviceedit-attributes-column'>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Device name:</div>
                <div class='iqss-deviceedit-attributes-value'>
                    <input type="text" data-ng-model="device.name" placeholder="Device name" required>
                </div>
            </div>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Device ID:</div>
                <div class='iqss-deviceedit-attributes-value'>
                    {{device.deviceId}}
                </div>
            </div>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Device status:</div>
                <div class='iqss-deviceedit-attributes-value iqss-deviceedit-attributes-value-active'>
                    <div class='iqss-deviceedit-attributes-value-active-true'>
                        <input type="radio" id='active' name='isActivated' data-ng-model="device.active" data-ng-value="true" /><label for='active'>Active</label>
                    </div>
                    <div class='iqss-deviceedit-attributes-value-active-false'>
                        <input type="radio" id='inactive' name='isActivated' data-ng-model="device.active" data-ng-value="false" /><label for='inactive'>Inactive</label>
                    </div>
                </div>
            </div>
        </div>
        <div class='iqss-deviceedit-attributes-delimiter'>
        </div>
        <div class='iqss-deviceedit-attributes-column'>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Device location:</div>
                <div class='iqss-deviceedit-attributes-value'>
                    <select ng-model="device.location" class='iqss-deviceedit-attributes-location' ng-options="location.name as location.name for location in locations"></select>
                </div>
            </div>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Last health report:</div>
                <div class='iqss-deviceedit-attributes-value'>
                    {{device.lastHealthReport | date:'dd.MM.yyyy HH:mm:ss'}}
                </div>
            </div>
        </div>
    </div>

    <div class='iqss-deviceedit-playlist-header'>
        Device playlist
    </div>
    <div class='iqss-deviceedit-playlist'>
        <div>
            Slide Show:
            <select ng-model="selectedSlideShow" ng-options="slideshow as slideshow.name for slideshow in slideshows"></select>
            <input type="button" ng-click="addSlideShow()" value="Add to slideshows"/>
        </div>
        <div>
            Slide shows to play:
            <div ng-repeat = "entry in device.slideAgregation.playList">
                <div>{{entry.slideShow.name}}
                    <input type="button" ng-click="removeSlideshow(entry)" value="X">
                </div>
            </div>
        </div>
    </div>
</section>
<section received-Device-Event-Popup></section>
