<section data-ng-controller="DevicesEditController" data-ng-init="findOne()">
    <div class='iqss-page-header'>
        <div class='iqss-deviceedit-header-container'>
            <div class="iqss-deviceedit-header-status iqss-deviceedit-header-status-{{device.status}}">
            </div>
            <div class="iqss-deviceedit-header-title" ng-bind="device.name">
            </div>
            <div class='iqss-slideshows-header-actions iqss-slideshows-links'>
                <div class='iqss-slideshowedit-saveLink' ng-click="update()">Save</div>
                <div data-ng-click='remove();' class='iqss-slideshows-slideshow-deleteLink'>Remove</div>
            </div>
        </div>
    </div>
    <div class='iqss-deviceedit-attributes'>
        <div class='iqss-deviceedit-attributes-column'>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Device name:</div>
                <div class='iqss-deviceedit-attributes-value'>
                    <input type="text" data-ng-model="device.name" placeholder="Device name" required>
                </div>
            </div>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Device ID:</div>
                <div class='iqss-deviceedit-attributes-value'>
                    {{device.deviceId}}
                </div>
            </div>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Device status:</div>
                <div class='iqss-deviceedit-attributes-value iqss-deviceedit-attributes-value-active'>
                    <div class='iqss-deviceedit-attributes-value-active-true'>
                        <input type="radio" id='active' name='isActivated' data-ng-model="device.active" data-ng-value="true" /><label for='active'>Active</label>
                    </div>
                    <div class='iqss-deviceedit-attributes-value-active-false'>
                        <input type="radio" id='inactive' name='isActivated' data-ng-model="device.active" data-ng-value="false" /><label for='inactive'>Inactive</label>
                    </div>
                </div>
            </div>
        </div>
        <div class='iqss-deviceedit-attributes-delimiter'>
        </div>
        <div class='iqss-deviceedit-attributes-column'>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Device location:</div>
                <div class='iqss-deviceedit-attributes-value'>
                    <select ng-model="device.location" class='iqss-deviceedit-attributes-location' ng-options="location.name as location.name for location in locations"></select>
                </div>
            </div>
            <div class='iqss-deviceedit-attributes-item'>
                <div class='iqss-deviceedit-attributes-label'>Last health report:</div>
                <div class='iqss-deviceedit-attributes-value'>
                    {{device.lastHealthReport | date:'dd.MM.yyyy HH:mm:ss'}}
                </div>
            </div>
        </div>
    </div>

    <div class='iqss-deviceedit-playlist-header'>
        Device playlist
    </div>
    <div class='iqss-deviceedit-playlist-container'>
        <div class='iqss-deviceedit-playlist-player-createNew-container' ng-click='addSlideShow()'>
            <div class='iqss-deviceedit-playlist-player-createNew'>
                <span class='iqss-deviceedit-playlist-player-createNew-link'>Add slideshow to playlist</span>
            </div>
        </div>
        <div ng-repeat="entry in device.slideAgregation.playList">
            <div class='iqss-deviceedit-content-player-container'>
                <div class='iqss-deviceedit-content-player-actions'>
                    <div class='iqss-deviceedit-content-player-actions-center'>
                        <div ng-click='moveSlideLeft(entry)' class='iqss-slideshowview-content-player-actions-center-previous'></div>
                        <div class='iqss-deviceedit-content-player-actions-slideInfo'>Position <span class='iqss-deviceedit-content-player-actions-slideInfo-currentIndex'>{{entry.currentSlideNr}}</span> of {{entry.playerScope.slides.length}}</div>
                        <div ng-click='moveSlideRight(entry)' class='iqss-slideshowview-content-player-actions-center-next'></div>
                    </div>
                    <div ng-click='removeSlideshow(entry)' class='iqss-deviceedit-content-player-actions-remove'>
                    </div>
                </div>
                <div class='iqss-deviceedit-playlist-player' dynamic-resizer dynamic-resizer-height-width-ratio="0.5" data-ng-controller="PlayerController" ng-init="initPreview(entry.slideShow._id, entry)">
                    <div ng-player slide-Show-Id='entry.slideShow._id' slides="slides" ng-player-on-hold='true' ng-player-id='viewPlayerId'></div>
                </div>
                <div class='iqss-deviceedit-content-player-titleAndSlidesNrAndEditLink'>
                    <div class='iqss-deviceedit-content-player-titleAndSlidesNr'>
                        <div class='iqss-deviceedit-content-player-title textEllipsis' data-ng-bind="entry.playerScope.title"></div>
                        <div class='iqss-deviceedit-content-player-slidesNr'>({{entry.playerScope.slides.length}} slides)</div>
                    </div>
                    <div class='iqss-deviceedit-content-player-editLink' ng-click='navigateToEdit(entry.slideShow._id)'></div>
                </div>
                <div class='iqss-deviceedit-content-player-delimiter'></div>
                <div class='iqss-deviceedit-content-player-authorName' data-ng-bind="entry.playerScope.nameOfAuthor"></div>
                <div class='iqss-deviceedit-content-player-lastModified'>Last modified: <span data-ng-bind="entry.playerScope.lastModified | date:'dd.MM.yyyy'"></span></div>
            </div>
        </div>
    </div>
</section>
<section received-Device-Event-Popup></section>
