<section data-ng-controller="DevicesController" data-ng-init="initDeviceList()" style="margin-top: 58px;">
    <div class="page-header">
        <h1>Devices</h1>
    </div>
    <div>
        <button class="btn btn-primary" type="button" ng-click="onShowLocationsFilter()">Filter</button>
        <span items-filter-summary filter-Parameters="filterParameters"></span>
        <div class="controls" style="float:right">
            <span style="float:left; padding-right:10px">Search</span>
            <span style="float:right;" >
                <ui-select ng-model="filterParameters.name" theme="bootstrap" sortable="true" style="width: 300px;" title="Select search string" on-select='filterDevices($select)' reset-search-input='false'>
                    <ui-select-match placeholder="{{getSelectPlaceholder()}}" data-ng-init='initNameSearchFilter($select)'>{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="deviceName in possibleSearchedDeviceNames"
                        refresh="refreshPossibleSearchedDeviceNamesAndDevices($select.search)"
                        refresh-delay="0">
                        {{deviceName}}
                    </ui-select-choices>
                </ui-select>
            </span>
        </span>
    </div>
    <div>&nbsp;</div>
    <div class="list-group">
        <a data-ng-repeat="device in devices track by device._id" data-ng-href="#!/devices/{{device.deviceId}}/edit" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="device.created | date:'medium'"></span>
				by
				<span data-ng-bind="device.user.displayName"></span>
				&nbsp;&nbsp;&nbsp;
				Status:
				<span data-ng-bind="getDeviceStatus(device)"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="device.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!devices.$resolved || devices.length">
    	   No Devices yet, why don't you <a href="/#!/devices/create">create one</a>?
    </div>
</section>
<section received-Device-Event-Popup></section>
<section device-Filter-Popup></section>
