<section data-ng-controller="DevicesController" data-ng-init="initDeviceList()" style="margin-top: 58px;">
    <div class='iqss-page-header'>
        <div>
            <div tag-and-name-filter search-Provider="searchProvider"></div>
        </div>
    </div>

    <div class="iqss-devicelist-content">
        <div class='col-sm-12'>
        <section data-ng-repeat="device in devices track by device._id">
            <div class="iqss-devicelist-device" ng-click="editDevice(device)">
                    <div>
                        <div>
                            <div class="iqss-devicelist-device-title-container {{getDeviceStatus(device)}}">
                               <div data-ng-bind="device.name"></div>
                            </div>
                        </div>
                           <div class='iqss-devicelist-device-content'>
                               <div class="iqss-device-location" data-ng-bind="device.location"></div>
                                <div class="iqss-device-by" data-ng-bind="device.user.displayName"></div>
                                <div class="iqss-device-play">Playing 0 slidehwos</div>
                            </div>

                    </div>
                </div>
        </section>
            <div class="iqss-devicelist-card-empty">
            </div>
            <div class="iqss-devicelist-card-empty">
            </div>
            <div class="iqss-devicelist-card-empty">
            </div>
            <div class="iqss-devicelist-card-empty">
            </div>
            <div class="iqss-devicelist-card-empty">
            </div>
        </div>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!devices.$resolved || devices.length">
    	   No Devices yet, why don't you <a href="/#!/devices/create">create one</a>?
    </div>
</section>
<section received-Device-Event-Popup></section>
<section device-Filter-Popup></section>
