@import '../../core/css/variables.scss';
@import 'mixins.scss';

.iqss-device-interaction-navbar {
    @media (orientation: landscape) {
        display: none;
    }
    @media (orientation: portait) {
        width: 100%;
    }
}
.iqss-device-interaction {
    @media (orientation: portrait) {
        padding-top: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    @media (orientation: landscape) {
        padding-top: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
.iqss-content-device-interaction {
    padding-bottom: 0px;
}
.iqss-device-interaction-content {
    max-width: 100%;
    width: 100%;
    margin: auto;
    font-size: $font-size;
    color: $very-dark-grey-color;
    height: 100%;
}
.iqss-device-interaction-hide-landscape {
    @media (orientation: landscape) {
        display: none;
    }
}
.iqss-device-interaction-content-player-container {
    background: white;
    display: block;
    width: 100%;
    @media (orientation: portrait) {
        height: 50%;
    }
    @media (orientation: landscape) {
        height: 100%;
    }
}

.iqss-device-interaction-content-player {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    @media (orientation: portrait) {
        height: 60%;
    }
    @media (orientation: landscape) {
        height: 100%;
        padding-bottom: 40px;
    }
}

.iqss-device-interaction-content-player-data {
    padding: 3% 0 0 3%;
    width: 100%;
    margin-left: auto;
    background: white;
    @media (orientation: portrait) {
        display: block;
    }
    @media (orientation: landscape) {
        display: none;
    }
}
.iqss-device-interaction-content-player-actions {
    display: flex;
    align-self: center;
    background: white;
    height: 30px;
    @media (orientation: landscape) {
        margin-top: -40px;
        z-index: 100;
        position: fixed;
        width: 100%;
    }
}

.iqss-device-interaction-content-player-actions-center {
    flex: 0 0 200px;
    align-self: center;
    @media (orientation: landscape) {
        height: 100%;
    }
}

.iqss-device-interaction-separator {
    border-bottom: 1px solid #5A5A5A;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 11px;
}

.iqss-device-interaction-slideshow-info {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    .iqss-device-interaction-title {
        flex-basis: 100%;
        text-overflow: ellipsis;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
    }
    .iqss-device-interaction-author {}
    .iqss-device-interaction-created-on {
        line-height: 15px;
        font-size: 8px;
    }
}

.iqss-device-interaction-content-slideshows {
    height: 50%;
    background-color: #5A5A5A;
    overflow: scroll;
    padding-top: 30px;
    width: 100%;
    @media (orientation: landscape) {
        display: none;
    }
    overflow-x: hidden;
}

.iqss-device-interaction-content-slide {
    height: 124px;
    padding: 11px;
    border-top: 1px solid #A9A9A9;
    width: 100%;
    padding-bottom: 37px;
}

.iqss-device-interaction-content-slide-selected {
    border: 1px solid #FAA61A;
    background-color: #655A56;
}

.iqss-device-interaction-slide-view {
    width: 40%;
    display: inline-block;
    height: 70px;
}

.iqss-device-interaction-slide-info {
    width: 60%;
    display: inline-block;
    height: 85px;
    float: right;
    color: white;
    padding-left: 10px;
    margin-top: 10px;
}

.iqss-device-interaction-content-slideshows-title {
    color: white;
    border-bottom: 1px solid white;
    position: absolute;
    z-index: 1;
    background-color: #5a5a5a;
    width: 100%;
    height: 43px;
    line-height: 43px;
    font-size: 16px;
    margin-top: -42px;
    padding-left: 10px;
}

.iqss-device-interaction-slide-info-title {
    font-size: 15px;
}

.iqss-device-interaction-slide-info-author {
    font-size: 10px;
}

.iqss-device-interaction-slide-info-number {
    font-size: 10px;
}

.iqss-device-interaction-slide-info-date {
    font-size: 10px;
    margin-top: 20px;
    color: #A9A9A9;
}

.iqss-device-interaction-content-player-data-playingOn {
    background: url(../../../modules/core/img/settings.svg) left center no-repeat;
    padding-left: 35px;
    color: $blue-color;
    cursor: pointer;
}

.iqss-device-interaction-content-player-container-play {
    background: url(../../../modules/core/img/play%20button.svg) left center no-repeat;
    flex: 1 1 25px;
    background-size: 20px 20px;
    line-height: 44px;
    cursor: pointer;
    margin-left: 15px;
    width:15px;
}

.iqss-device-interaction-content-player-container-pause {
    background: url(../../../modules/core/img/pause_button.svg) left center no-repeat;
    flex: 1 1 25px;
    background-size: 20px 20px;
    line-height: 44px;
    cursor: pointer;
    margin-left: 15px;
    width:15px;
}

.iqss-device-interaction-content-player-actions-center-previous {
    background: url(../../../modules/core/img/previous.svg) right center no-repeat;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 30px;
    background-size: 8px 14px;
    background-position: 50% 50%;
}

.iqss-device-interaction-content-player-actions-center-next {
    background: url(../../../modules/core/img/next.svg) right center no-repeat;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 30px;
    background-size: 8px 14px;
    background-position: 50% 50%;
}

.iqss-device-interaction-content-player-actions-center-slideInfo {
    display: inline-block;
}

.iqss-device-interaction-slideshow-preview {
    height: 100px;
    width: 100%;
    display:inline-block;
    border: 1px solid $dark-grey-color;
    overflow: hidden;
}
.iqss-device-interaction-slideshow-error {
    line-height: 100%;
    text-align: center;
    padding-top: 25%;
    color: white;
}

input[type=text].iqss-device-interaction-search {
    background-image: url(/modules/core/img/brand/head-bg.png);
    font-family: 'Karla', Arial, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 23px;
}

.iqss-device-interaction-search::-webkit-input-placeholder {
   @include deviceInteractionSearchPlaceholder
}

.iqss-device-interaction-search:-moz-placeholder { /* Firefox 18- */
   @include deviceInteractionSearchPlaceholder
}

.iqss-device-interaction-search::-moz-placeholder {  /* Firefox 19+ */
   @include deviceInteractionSearchPlaceholder
}

.iqss-device-interaction-search:-ms-input-placeholder {
   @include deviceInteractionSearchPlaceholder
}

.iqss-device-interaction-search-indicator {
    background-image: url(/modules/core/img/search.png);
    height: 100%;
    width: 89px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: transparent;
    border: none;
}
