.slideShow {
    background-color: #FFFFFF;
}
.player-container{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    background-color: #ffffff;
    overflow: hidden;
}

.preview-slideshow .slideShow {
    position: inherit !important
}
