.enter-top.ng-hide-add, .enter-top.ng-hide-remove {
  transition:all .5s ease-in-out;
}

.enter-top.ng-hide-remove {
  opacity: 0;
  top: 5000px;
}

.enter-top.ng-hide-remove-active {
  opacity: 1;
  top: 0px;
}

.enter-top.ng-hide-add {
  opacity: 1;
  top: 0px;
}

.enter-top.ng-hide-add-active {
  opacity: 1;
  top: -5000px;
}
