.enter-right.ng-hide-add, .enter-right.ng-hide-remove {
  transition:all .5s ease-in-out;
}

.enter-right.ng-hide-remove {
  opacity: 0;
  left: 5000px;
}

.enter-right.ng-hide-remove-active {
  opacity: 1;
  left: 0px;
}

.enter-right.ng-hide-add {
  opacity: 1;
  left: 0px;
}

.enter-right.ng-hide-add-active {
  opacity: 1;
  left: -5000px;
}
