<section data-ng-controller="AdminController" data-ng-init="getConfig()" style="margin-top: 58px;">
    <div class="page-header">
        <h1>Configuration</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">User selected slide shows play time in minutes</label>
                    <div class="controls">
                        <input type="text" data-ng-model="config.userSelectedSlideShowsPlayTimeInMinutes" class="form-control" placeholder="User selected slide shows play time in minutes" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Number of minutes after last health report to consider device unheathy</label>
                    <div class="controls">
                        <input type="text" data-ng-model="config.nrOfMinutesAfterLastHealthReportToConsiderDeviceUnheathy" class="form-control" placeholder="Number of minutes after last health report to consider device unheathy" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Number of tags to be displayed on autocomplete recommendation</label>
                    <div class="controls">
                        <input type="text" data-ng-model="admin.sizeOfAutocompleteListForTags" class="form-control" placeholder="Please specify a value..." required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="locationk">Default Player Slide Show</label>
                    <div class="controls">
                        <select ng-model="config.defaultSlideShowId" ng-options="slideshow._id as slideshow.name for slideshow in slideshows"></select>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default">
            </div>
        </form>
    </div>
</section>
