<section data-ng-controller="AdminController" data-ng-init="getConfig()">
    <div class='iqss-page-header'>
        <div class='iqss-admin-config-saveLink' ng-click="update()">Save</div>
    </div>
    <div class='iqss-admin-config-attributes'>
        <div class='iqss-admin-config-attributes-item'>
            <div class='iqss-admin-config-attributes-label'>User selected slideshows play time (minutes):</div>
            <div class='iqss-admin-config-attributes-value'>
                <input type="number" data-ng-model="config.userSelectedSlideShowsPlayTimeInMinutes" placeholder="User selected slide shows play time in minutes" required>
            </div>
            <div class='iqss-admin-config-attributes-validationError iqss-validationError'><span ng-show='!userSelectedSlideShowsPlayTimeInMinutesValid()'>Value must be an integer bigger than 0.</span></div>
        </div>
        <div class='iqss-admin-config-attributes-item'>
            <div class='iqss-admin-config-attributes-label'>Number of minutes after last health report to consider device unheathy:</div>
            <div class='iqss-admin-config-attributes-value'>
                <input type="number" data-ng-model="config.nrOfMinutesAfterLastHealthReportToConsiderDeviceUnheathy" placeholder="Number of minutes after last health report to consider device unheathy" required>
            </div>
            <div class='iqss-admin-config-attributes-validationError iqss-validationError'><span ng-show='!nrOfMinutesAfterLastHealthReportToConsiderDeviceUnheathyValid()'>Value must be an integer bigger than 0.</span></div>
        </div>
        <div class='iqss-admin-config-attributes-item'>
            <div class='iqss-admin-config-attributes-label'>Number of tags to be displayed on autocomplete recommendation:</div>
            <div class='iqss-admin-config-attributes-value'>
                <input type="number" data-ng-model="config.sizeOfAutocompleteListForTags" placeholder="Number of tags to be displayed on autocomplete recommendation" required>
            </div>
            <div class='iqss-admin-config-attributes-validationError iqss-validationError'><span ng-show='!sizeOfAutocompleteListForTagsValid()'>Value must be an integer bigger than 0.</span></div>
        </div>
        <div class='iqss-admin-config-attributes-item'>
            <div class='iqss-admin-config-attributes-label'>Default slide duration (seconds):</div>
            <div class='iqss-admin-config-attributes-value'>
                <input type="number" data-ng-model="config.defaultSlideDuration" placeholder="Default slide duration" required>
            </div>
            <div class='iqss-admin-config-attributes-validationError iqss-validationError'><span ng-show='!defaultSlideDurationValid()'>Value must be an integer bigger than 0.</span></div>
        </div>
        <div class='iqss-admin-config-attributes-item'>
            <div class='iqss-admin-config-attributes-label'>Default player slideshow:</div>
            <div class='iqss-admin-config-attributes-value'>
                <select ng-model="config.defaultSlideShowId" ng-options="slideshow._id as slideshow.name for slideshow in slideshows"></select>
            </div>
            <div class='iqss-admin-config-attributes-validationError iqss-validationError'><span ng-show='!defaultSlideShowSelected()'>Field is mandatory.</span></div>
        </div>
    </div>
</section>
