<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

<section data-ng-controller="AuditController">
    <div class='iqss-page-header'>
        <div>
            <a ng-href="/audits/csv?startDate={{fromDate.toDateString()}}&endDate={{addOneDayToDateToDateString(toDate)}}">
                <div ng-href="/audits/csv?startDate={{fromDate}}&enDate={{toDate}}" class='iqss-admin-audit-downloadLink' ng-click="downloadAuditData()">Download</div>
            </a>
        </div>
    </div>
    <div class='iqss-admin-audit-filters-container'>
        <div class='iqss-admin-audit-filters-column'>
            <div class='iqss-admin-audit-filters-label'>From date:</div>
            <div class="input-group iqss-admin-audit-filters-datePicker">
                <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fromDate" is-open="fromDateStatus.opened" ng-required="true" />
                <button type="button" class="btn btn-default" ng-click="openPopupFromDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
           </div>
        </div>
        <div class='iqss-admin-audit-filters-column'>
            <div class='iqss-admin-audit-filters-label'>To date:</div>
            <div class="input-group iqss-admin-audit-filters-datePicker">
                <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="toDate" is-open="toDateStatus.opened" ng-required="true" />
                <button type="button" class="btn btn-default" ng-click="openPopupToDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
           </div>
        </div>
    </div>
</section>
