<section data-ng-controller="LocationController" data-ng-init="getLocations()">
    <div class="iqss-page-header">
        <div>
            <div class="iqss-admin-locations-add" ng-click="addLocation()" ng-disabled="isAnyLocationEdited">Add location</div>
        </div>
    </div>

    <div class="iqss-admin-locations-container">
        <div location-item ng-repeat="location in locations" location="location" editMode='true' is-Location-Name-Unique='isLocationNameUnique(location)' edit-Enabled='editEnabled()'></div>
    </div>
</section>
