<section data-ng-controller="LocationController" data-ng-init="getLocations()" style="margin-top: 58px;">
    <div class="page-header">
        <h1>Locations</h1>
    </div>
    <div class="col-md-12">
        <button type="button" id="addLocation" class="btn btn-success" ng-click="addLocation()" ng-disabled="isAnyLocationEdited">Add</button>
        <div>&nbsp;</div>
        <div location-item ng-repeat='location in locations' location='location' editMode='true' is-Location-Name-Unique='isLocationNameUnique(location)' edit-Enabled='editEnabled()'>
        </div>
    </div>
</section>