<section data-ng-controller="ReloadController">
    <div class='iqss-page-header'>
        <div>
            <div class='iqss-admin-config-reloadLink' ng-click="reload()">Reload</div>
        </div>
    </div>
    <div class="iqss-admin-config-reloadResult" ng-show="reloadedDevices && reloadedDevices.length > 0">
        The reload message was sent to all devices (name and location):<BR><BR>

        <div class='iqss-admin-config-reloadResult-device'>
            <div class='iqss-admin-config-reloadResult-device-name'><strong>Device name</strong></div>
            <div class='iqss-admin-config-reloadResult-device-location'><strong>Location</strong></div>
            <div class='iqss-admin-config-reloadResult-err'><strong>Error</strong></div>
        </div>
        <BR>
        <div ng-repeat="device in reloadedDevices" class='iqss-admin-config-reloadResult-device'>
            <div class='iqss-admin-config-reloadResult-device-name'>{{device.name}}</div>
            <div class='iqss-admin-config-reloadResult-device-location'>{{device.location}}</div>
            <div class='iqss-admin-config-reloadResult-err'>{{device.err.data.messag}}</div>
        </div>
    </div>
</section>
