@import 'variables.scss';
@import '../../core/css/variables.scss';

@mixin slideshowImageLinkCommonStyle {
    width: 17px;
    height: 17px;
    display:inline-block;
    margin: $slideshow-list-default-horizontal-padding;
}

@mixin slideshowviewHeaderAction {
    flex: 1;
    line-height: 44px;
    padding-left: 22px;
    background-size: 20px 20px;
    line-height: 44px;
    padding-left: 25px;
    width: 100px;
}
