.move-slide {
  display: inline-block;
  float: right;
  margin-top: 5px; }

.move-slide-button {
  font-size: 11px;
  cursor: pointer;
  line-height: 11px; }

.slides-controllers {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 11px;
  line-height: 10px; }

.slides-ops {
  display: inline-block; }
