@import 'variables.scss';
@import 'mixins.scss';

.iqss-slideshows-header-container {
    display: flex;
}

.iqss-slideshows-header-title-container {
    display: flex;
    flex-flow: column;
    margin-right: 20px;
}

.iqss-slideshows-header-actions {
    height: $page-header-height;
    line-height: $page-header-height;
    display: flex;
    font-size: $font-size;
}

.iqss-slideshows-slideshow-publishLink {
    background: url(../../../modules/core/img/publish.svg) left center no-repeat;
    @include slideshowsHeaderAction;
}

.iqss-slideshows-slideshow-deleteLink {
    background: url(../../../modules/core/img/delete.svg) left center no-repeat;
    @include slideshowsHeaderAction;
}


.iqss-slideshows-links a:visited {
    text-decoration: none;
    color: $blue-color;
    font-size: $font-size;
    color: $blue-color;
}

.iqss-slideshows-links a:hover {
    text-decoration: none;
}
