@import '../../core/css/variables.scss';
@import '../../core/css/mixins.scss';
@import 'variables.scss';
@import 'mixins.scss';

.iqss-slideshowedit-main {
    height: 100%;
}

.iqss-slideshowedit-header-title {
    height: 35px !important;
    padding-left: 0 !important;
}

.iqss-slideshowedit-header-title-bottom-line {
    background: $blue-color;
    height: 1px;
    margin: 0;
    border: none;
    width: 200px;
    margin-top: -5px;
}

.iqss-slideshowedit-saveLink {
    background: url(../../../modules/core/img/save.svg) left center no-repeat;
    @include slideshowsHeaderAction;
}

.iqss-slideshowedit-previewLink {
    background: url(../../../modules/core/img/play%20button.svg) left center no-repeat;
    @include slideshowsHeaderAction;
}

.iqss-slideshowedit-content {
    padding-top: 10px;
    padding-left: $header-padding-left;
    padding-right: $header-padding-left;
    margin-bottom: $footer-height + 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.iqss-slideshowedit-form {
    height: 100%;
}

.iqss-slideshowedit-error {
    padding-left: $header-padding-left;
    padding-right: $header-padding-left;
    margin: auto;
    margin-top: 5px;
    width: 60%;
    white-space: pre-line;
    color: $error-color;
    display: flex;
    align-items: center;
    flex: 2;
}

.iqss-slideshowedit-attributes {
    flex: 1;
    @include border;
    background: white;
    height: $slideshow-edit-attributes-height;
    display: flex;
    line-height: $slideshow-edit-attributes-height;
    margin: 10px 15px 0 15px;

    @media (min-width: 1200px) {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

.iqss-slideshowedit-attribute {
    flex: 1;
    display: flex;
    padding-left: 15px;
    align-items: center;
    height: $slideshow-edit-attributes-height;

    &:last-child {
        padding-right: 15px;
    }
}

.iqss-slideshowedit-name-label {
    margin-right: 10px;
}

.iqss-slideshowedit-name {
    flex: 1;
    align-self: flex-start;
    height: 30px !important;
}

.iqss-slideshowedit-tags-label {
    margin-right: 10px;
}

.iqss-slideshowedit-tags {
    height: 30px !important;
}

.iqss-slideshowedit-emptyColumn {
    flex: 0.05;
    background-color: $dark-grey-color;
}

.iqss-slideshowedit-slides-scroller {
    overflow: hidden;
}

.iqss-slideshowedit-slides {
    display: inline-block;
    background: white;
    @include border;
    border-top: none;
    width: $slideshow-edit-slide-previewWidth;
}

.iqss-slideshowedit-data {
    display: inline-block;
    @include border;
    background: white;
    flex: 1;
}

.iqss-slideshowedit-preview {
    display: inline-block;
    flex: 1;
    align-self: flex-start;
    flex-direction: column;
    @include border;
    width: 33%;
    overflow: hidden;
}

.iqss-slideshowedit-preview-footer {
    height: $font-size + 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iqss-slideshowedit-preview-footer-emptyLeft {
    margin-left: 10px;
    flex: 1;
}

.iqss-slideshowedit-preview-footer-title {
    flex: 1;
    text-align: center;
}

.iqss-slideshowedit-preview-footer-fullScreen-container {
    margin-right: 10px;
    flex: 1;
    display: flex;
    flex-flow: row-reverse;
}

.iqss-slideshowedit-preview-footer-fullScreen {
    height: $font-size + 5;
    width: $font-size + 5;
    cursor: pointer;
    background: url(../../../modules/core/img/fullscreen.svg) right center no-repeat;
}

.iqss-slideshowedit-slides-addNew-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $font-size + 20;
    padding: $slideshow-edit-slide-leftRightPadding $slideshow-edit-slide-leftRightPadding;
    width: $slideshow-edit-slide-previewWidth;
    @include border;
    background: white;
}

.iqss-slideshowedit-slides-addNew {
    background: url(../../../modules/core/img/add-slide.svg) left center no-repeat;
    line-height: $font-size + 2;
    height: $font-size + 2;
    color: $blue-color;
    padding-left: 30px;
    cursor: pointer;
}

.iqss-slideshowedit-addNewSlide {
    overflow-y: hidden !important;
}

.iqss-slideshowedit-addNewSlide .modal-dialog {
    width: 80%;
    max-width: 500px;
    transform: none !important;
}

.iqss-slideshowedit-addNewSlide .modal-content {
    border-radius: 0;
}

.iqss-slideshowedit-addNewSlide, .iqss-slideshowedit-data {
    .nav-tabs {
        > li {
            > a {
                &:hover {
                    border: 1px solid #DFDFDF;
                }
            }

            &.active {
                > a {
                    &:hover {
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }
}

.iqss-slideshowedit-addNewSlide {
    .nav-tabs {
        > li {
            > a {
                margin: 0;
                margin-right: -1px;
                font-size: $font-size;
                padding-left: 60px;
                padding-right: 60px;
            }
        }
    }
}

.iqss-slideshowedit-addNewSlide-container {
    margin: 10px;
}

.iqss-slideshowedit-addNewSlide-tab-container {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    max-height: 500px;
}

.iqss-slideshowedit-addNewSlide-tab-container .iqss-ui-select-bottom-line {
    top: 65px;
}

.iqss-slideshowedit-addNewSlide-items {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
    justify-content: space-around;
}

.iqss-slideshowedit-addNewSlide-selectFromBluerprints-item {
    margin-top:30px;
}

.iqss-slideshowedit-addNewSlide-item-empty {
    height: 0;
    width: $addNewSlide-item-width + $addNewSlide-item-margin-right;
    padding-right: 0;
}

.iqss-slideshowedit-addNewSlide-item-name {
    margin: 20px;
    margin-bottom: -10px;
}

.iqss-slideshowedit-addNewSlide-item {
    margin: 10px $addNewSlide-item-margin-right 0 0;
    cursor: pointer;
    width: $addNewSlide-item-width;
    height: $addNewSlide-item-height;
    border: 1px solid $dark-grey-color;
    overflow: hidden;
}

.iqss-slideshowedit-addNewSlide-selectFromBluerprints-search hr {
    top: 56px;
}

.iqss-slideshowedit-addNewSlide-selectFromBluerprints-list {
    display: flex;
}

.iqss-slideshowedit-addNewSlide-selectFromBluerprints-tags {
    padding: 5px;
    height: 38px;
    text-overflow: ellipsis;
    max-width: $addNewSlide-item-width;
    font-size: $small-font-size;
    color: $very-dark-grey-color;
}

.iqss-slideshowedit-addNewSlide-selectFromBluerprints-created {
    padding: 5px;
    padding-top: 0;
    margin-bo: 10px;
    text-overflow: ellipsis;
    font-size: $small-font-size;
    color: $very-dark-grey-color;
}

.iqss-slideshowedit-slide-hidden {
    background-color: #EEEEEE;
    opacity: 0.5;
    width: 100%;
}

.iqss-slideshowedit-slide-current {
    border: 1px solid $very-dark-grey-color;
}

.iqss-slideshowedit-slide-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@keyframes moveTop{
    from {
        top: 0;
    }
    to {
        top: -$slideshow-edit-slide-height;
    }
}

@keyframes moveCenterFromTop{
    from {
        top: -$slideshow-edit-slide-height;
    }
    to {
        top: 0;
    }
}

@keyframes moveBottom{
    from {
        top: 0;
    }
    to {
        top: $slideshow-edit-slide-height;
    }
}

@keyframes moveCenterFromBottom{
    from {
        top: $slideshow-edit-slide-height;
    }
    to {
        top: 0;
    }
}

@mixin move($animationName) {
    position: relative;
    animation-name: $animationName;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.460, 0.905, 0.630, 0.995);
    animation-fill-mode: forwards;
}

.iqss-slideshowedit-slide-container-moveTop {
    @include move(moveTop);
}

.iqss-slideshowedit-slide-container-moveBottom {
    @include move(moveBottom);
}

.iqss-slideshowedit-slide-container-moveCenterFromTop {
    @include move(moveCenterFromTop);
}

.iqss-slideshowedit-slide-container-moveCenterFromBottom {
    @include move(moveCenterFromBottom);
}

.iqss-slideshowedit-slide-container-dragging {
    z-index: 100000;
}

.iqss-slideshowedit-slide-actions {
    display: flex;
    height: 25px;
    line-height: $slideshow-edit-slide-actions-height;
    padding: 0 $slideshow-edit-slide-leftRightPadding;
}

.iqss-slideshowedit-slide-actions-index {
    width: $slideshow-edit-slide-indexWidth;
}

.iqss-slideshowedit-slide-actions-index-selected {
    color: $orange-color;
}

.iqss-slideshowedit-slide-actions-title {
    @include textEllipsis;
    padding: 0 5px;
    flex: 1;
    font-size: $small-font-size;
}

@mixin slideAction($backgroundImgPath) {
    background: url($backgroundImgPath) left center no-repeat;
    width: 16px;
    height: 16px;
    height: 100%;
    cursor: pointer;
}

.iqss-slideshowedit-slide-actions-saveToBlueprints {
    @include slideAction('../../../modules/core/img/save_in_repo.svg')
}

.iqss-slideshowedit-slide-actions-delete {
    @include slideAction('../../../modules/core/img/delete.svg')
}

.iqss-slideshowedit-slide-preview {
    border-bottom: 1px solid $darker-grey-color;
    padding: 0 $slideshow-edit-slide-indexWidth + $slideshow-edit-slide-leftRightPadding;
    width: $slideshow-edit-slide-previewWidth;
    height: $slideshow-edit-slide-preview-height;
    display: inline-block;
    overflow: hidden;
}

.iqss-slideshowedit-data .nav-tabs > li.active > a, .iqss-slideshowedit-data  .nav-tabs > li.active > a:focus {
    margin-top: -6px;
    margin-bottom: -5px;
    margin-left: -1px;
    line-height: $tab-header-line-height + 6px;
}

.iqss-slideshowedit-data .nav > li > a {
    padding-left: $slideshow-edit-slide-data-tab-padding;
    padding-right: $slideshow-edit-slide-data-tab-padding;
}

.iqss-slideshowedit-data-tab {
    padding: $slideshow-edit-slide-data-tab-padding;
    display: flex;
    flex-flow: column;

    input {
        width: 100%;
    }
}

.iqss-slideshowedit-data .ui-select-container {
    @include formControl;
    width: $form-controls-width !important;
}

.iqss-slideshowedit-data span.ui-select-match:first-of-type {
    margin-left: $form-controls-padding-left;
}

.iqss-slideshowedit-data .ui-select-container input[type='text'] {
    padding-left: 0;
}

.iqss-slideshowedit-data .ui-select-container * {
    font-size: $font-size;
    color: $very-dark-grey-color;
}

.iqss-slideshowedit-data .ui-select-match-item {
    border: 1px solid $dark-grey-color;
    border-radius: 0px;
}

.iqss-slideshowedit-data .ui-slider {
    margin-top: 3px;
    width: $form-controls-width;
}

.iqss-slideshowedit-slideInfo-actions {
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
}

.iqss-slideshowedit-data-tab .ta-toolbar {
    background-color: $dark-grey-color;
    margin: 0;
    padding: 2px;
    display: flex;
    flex-flow: row wrap;
}

.iqss-slideshowedit-data-tab .btn-group {
    margin: 0;
    margin-right: 10px;
    border-radius: 4px;
    clear: both;
    flex: 1;
    align-self: flex-start;
    display: flex;
}

.iqss-slideshowedit-data-tab .btn-group .btn {
    font-size: $font-size;
    border-radius: 0;
}

.iqss-slideshowedit-data-tab .btn-group button {
    width: 24px;
    height: 24px;
}

.iqss-slideshowedit-saveSlideToBlueprints-container .modal-dialog {
    width: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.iqss-slideshowedit-saveSlideToBlueprints-container .modal-content {
    border-radius: 0;
}
