/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
/*
    list
*/
/*
    edit
*/
/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
.iqss-slideshowview-playing-on {
  color: #5a5a5a; }

.iqss-slideshowview-playing-on-header {
  background: #f5f5f5;
  padding: 10px 0px 10px 20px;
  border-bottom: 1px solid #eeeeee;
  display: flex; }

.iqss-slideshowview-playing-on-header-controls {
  padding-right: 20px;
  flex: 1; }

.iqss-slideshowview-playing-on-header-scrollbar-holder {
  overflow-y: scroll;
  visibility: hidden; }

.iqss-slideshowview-playing-on {
  font-size: 12px; }

.iqss-slideshowview-playing-on .modal-dialog {
  width: 500px; }

.iqss-slideshowview-playing-on-label {
  color: #faa61a; }

.iqss-slideshowview-playing-on-searchControls {
  display: flex;
  margin: 5px 0; }

.iqss-slideshowview-playing-on-searchControls-allCheckbox {
  vertical-align: bottom; }

.iqss-slideshowview-playing-on-searchControls > * {
  flex: 1 1 50%; }

.iqss-slideshowview-playing-on-searchControls-search {
  display: flex;
  flex-flow: column; }

.iqss-slideshowview-playing-on-searchControls-search-container {
  border: 0px;
  background: #f5f5f5;
  color: #eeeeee;
  background-image: url(../../../../modules/core/img/search.png);
  background-repeat: no-repeat;
  background-position: left center; }

.iqss-slideshowview-playing-on-searchControls-search-input {
  margin-left: 30px;
  border: 0px;
  background: #f5f5f5;
  color: #009da5; }
  .iqss-slideshowview-playing-on-searchControls-search-input::-webkit-input-placeholder {
    color: #009da5; }
  .iqss-slideshowview-playing-on-searchControls-search-input:-moz-placeholder {
    color: #009da5; }
  .iqss-slideshowview-playing-on-searchControls-search-input::-moz-placeholder {
    color: #009da5; }
  .iqss-slideshowview-playing-on-searchControls-search-input:-ms-input-placeholder {
    color: #009da5; }

.iqss-slideshowview-playing-on-searchControls-search-input-disabled {
  color: #5a5a5a;
  /* do not group these rules */ }
  .iqss-slideshowview-playing-on-searchControls-search-input-disabled::-webkit-input-placeholder {
    color: #5a5a5a; }
  .iqss-slideshowview-playing-on-searchControls-search-input-disabled:-moz-placeholder {
    /* FF 4-18 */
    color: #5a5a5a; }
  .iqss-slideshowview-playing-on-searchControls-search-input-disabled::-moz-placeholder {
    /* FF 19+ */
    color: #5a5a5a; }
  .iqss-slideshowview-playing-on-searchControls-search-input-disabled:-ms-input-placeholder {
    /* IE 10+ */
    color: #5a5a5a; }

.iqss-slideshowview-playing-on-searchControls-search-input:focus {
  outline-color: #f5f5f5; }

.iqss-slideshowview-playing-on-searchControls-search-bottom-line {
  background: #009da5;
  height: 1px;
  margin: 0;
  border: none;
  width: 200px;
  margin-top: 5px; }

.iqss-slideshowview-playing-on-devices-list {
  display: flex nowrap;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 200px;
  overflow-y: auto; }

.iqss-slideshowview-playing-on-devices-list-item {
  width: 50%;
  display: inline-block; }

.iqss-slideshowview-playing-on-footer {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee;
  display: flex;
  height: 40px; }

.iqss-slideshowview-playing-on-footer-actions-container {
  flex: 1;
  display: flex;
  flex-flow: row-reverse;
  align-items: center; }

.iqss-slideshowview-playing-on-footer-actions {
  width: 50%; }

.iqss-slideshowview-playing-on-footer-actions-cancel {
  width: 70px; }

.iqss-slideshowview-playing-on-footer-actions-play {
  width: 70px;
  margin-left: 20px; }
