@import 'mixins.scss';

.iqss-slideshows-links a:visited {
    text-decoration: none;
    color: $blue-color;
    font-size: $font-size;
    color: $blue-color;
}

.iqss-slideshows-links a:hover {
    text-decoration: none;
}
