@import '../../core/css/variables.scss';

$slideshow-list-header-content-top-padding: $header-height + $page-header-height + 48px;

$slideshow-list-slideshow-width: 194px;

$slideshow-list-slideshow-height: 195px;

$slideshow-list-slideshow-preview-height: 100px;

$slideshow-list-default-horizontal-padding: 7px;
