@import '../../core/css/variables.scss';

/*
    list
*/
$slideshow-list-header-content-top-padding: $header-height + $page-header-height + 48px;

$slideshow-list-slideshow-width: 194px;

$slideshow-list-slideshow-height: 195px;

$slideshow-list-slideshow-preview-height: 100px;

$slideshow-list-default-horizontal-padding: 7px;

/*
    edit
*/
$slideshow-edit-slide-leftRightPadding: 8px;

$slideshow-edit-slide-indexWidth: 15px;

$slideshow-edit-slide-data-tab-padding: 25px;

$addNewSlide-template-width: 120px;

$addNewSlide-template-height: 66px;
