<section slide-part type="script" url="pdf.js"></section>

<div slide-part member='url' ng-hide='true'></div>

<div ng-show='!isPlaying'>
  <button id="prev" ng-click='onPrevPage()'>Previous</button>
  <button id="next" ng-click='onNextPage()'>Next</button>
  &nbsp; &nbsp;
  <span>Page: <span id="page_num">{{referenceSlide.content.pageNr}}</span> / <span id="page_count">{{referenceSlide.content.pdfDoc.numPages}}</span></span>
</div>

<div>
    <canvas id="the-canvas" style="border:1px solid black"></canvas>
</div>
