<div>
    <uib-tabset>
        <uib-tab heading="New from templates">
            <div class='iqss-slideshowedit-addNewSlide-selectTemplate-container'>
                <select ng-options="template for template in templates" ng-model="newSlideData.templateName" ng-Change='close();'></select>
            </div>
        </uib-tab>
        <uib-tab heading="From repository">
            <div>
                <div tag-and-name-filter label='"Search"' search-Provider="blueprintsSearchProvider" class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-search'></div>
                <div>&nbsp;</div>
            </div>
            <div>
                <div class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-blueprints-list'>
                    <div ng-repeat="slide in slides" class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-blueprint-container' ng-click="selectSlide(slide)">
                        <div>{{slide.bluePrintTitle}}</div>
                        <div>{{slide.publisher}}</div>
                        <div class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-blueprint'>
                            <div ng-slide-view reference-slide='slide'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    <div class='iqss-slideshowedit-addNewSlide-container'>
        <input type="button" value="Cancel" ng-click="$close()"/>
    </div>
</div>
