<div>
    <uib-tabset>
        <uib-tab heading="New from templates">
            <div class='iqss-slideshowedit-addNewSlide-tab-container'>
                <div tag-and-name-filter no-summary='true' search-Provider="templatesSearchProvider" label='"Search"'></div>

                <div class="iqss-slideshowedit-addNewSlide-items">
                    <section data-ng-repeat="template in filteredTemplates">
                        <div iqss-slideshowedit-addNewSlide-item-name>{{template}}</div>
                        <div class="iqss-slideshowedit-addNewSlide-item" ng-click="setTemplate(template);close();">
                            <div ng-slide-view reference-slide='{templateName: template, resolution: {width: 1600, height: 900}}' class="ng-slide-view-container">
                            </div>
                        </div>
                    </section>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="From repository">
            <div class='iqss-slideshowedit-addNewSlide-tab-container'>
                <div tag-and-name-filter label='"Search"' search-Provider="blueprintsSearchProvider" class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-search'></div>
                <div class='iqss-slideshowedit-addNewSlide-items'>
                    <div class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-item' ng-repeat="slide in slides" ng-click="selectSlide(slide)">
                        <div>{{slide.bluePrintTitle}}</div>
                        <div>{{slide.publisher}}</div>
                        <div class='iqss-slideshowedit-addNewSlide-item'>
                            <div ng-slide-view reference-slide='slide' class="ng-slide-view-container"></div>
                        </div>
                        <div class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-tags'>
                            {{slide.concatenatedTags}}
                        </div>
                        <div class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-created' ng-bind="slide.created | date:'dd.MM.yyyy HH:mm:ss'"></div>
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-item-empty">
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
