<div>
    <uib-tabset>
        <uib-tab heading="New from templates">
            <div class='iqss-slideshowedit-addNewSlide-selectTemplate-container'>
                <div tag-and-name-filter no-summary='true' search-Provider="templatesSearchProvider" label='"Search"'></div>

                <div class="iqss-slideshowedit-addNewSlide-templates">
                    <section data-ng-repeat="template in filteredTemplates">
                        <div iqss-slideshowedit-addNewSlide-templates-template-name>{{template}}</div>
                        <div class="iqss-slideshowedit-addNewSlide-templates-template" ng-click="setTemplate(template);close();">
                            <div ng-slide-view reference-slide='{templateName: template, zoomPercent: 100, resolution: {width: 1600, height: 900}}'>
                            </div>
                        </div>

                    </section>
                    <div class="iqss-slideshowedit-addNewSlide-templates-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-templates-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-templates-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-templates-empty">
                    </div>
                    <div class="iqss-slideshowedit-addNewSlide-templates-empty">
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="From repository">
            <div>
                <div tag-and-name-filter label='"Search"' search-Provider="blueprintsSearchProvider" class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-search'></div>
                <div>&nbsp;</div>
            </div>
            <div>
                <div class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-blueprints-list'>
                    <div ng-repeat="slide in slides" class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-blueprint-container' ng-click="selectSlide(slide)">
                        <div>{{slide.bluePrintTitle}}</div>
                        <div>{{slide.publisher}}</div>
                        <div class='iqss-slideshowedit-addNewSlide-selectFromBluerprints-blueprint'>
                            <div ng-slide-view reference-slide='slide'>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
