<section data-ng-controller="SlideshowsController" data-ng-init="findOne()" class='iqss-slideshowedit-main'>
    <div class='iqss-page-header'>
        <div class='iqss-slideshows-header-container'>
            <div class='iqss-slideshows-header-title-container'>
                <input type="text" data-ng-model="slideshow.name" class='iqss-slideshowedit-header-title' placeholder="Name" required/>
            </div>
            <div class='iqss-slideshows-header-actions iqss-slideshows-links'>
                <div class='iqss-slideshowedit-saveLink' ng-click="upsert()">Save</div>
                <div ng-click="preview()" ng-class="{'iqss-slideshowedit-previewLink':true}">Preview</div>
                <div ng-click="publish()" class='iqss-slideshows-slideshow-publishLink'>Publish</div>
                <div ng-click='remove();' class='iqss-slideshows-slideshow-deleteLink'>Remove</div>
            </div>
        </div>
    </div>
    <form data-ng-submit="update()" novalidate class='iqss-slideshowedit-form'>
        <div class="iqss-slideshowedit-error text-danger">
            <strong data-ng-show="error" data-ng-bind="error"></strong>
        </div>
        <div class="iqss-slideshowedit-content">
            <div class="iqss-slideshowedit-slides">
                <div class='iqss-slideshowedit-slides-addNew-container'>
                    <div class="iqss-slideshowedit-slides-addNew" ng-click='addNewSlide()'>Add slide</div>
                </div>

                <!-- SLIDE LIST PREVIEW start-->

                <div ng-class="{'iqss-slideshowedit-slide-hidden':slide.hidden, 'iqss-slideshowedit-slide-current':isCurrentSlide(slide)}" data-ng-repeat="slide in slideshow.draftSlides" ng-click="setCurrentSlide(slide)" drag-and-drop drag-and-drop-header-height='115' drag-and-drop-footer-height='30' drag-and-drop-move-event-name="'slideDragged'" drag-and-drop-mode="'verticalOnly'" dragAndDropId='{{slide.dragAndDropId}}'>
                    <div class='iqss-slideshowedit-slide-container' drag-and-drop-receiver get-draggable-items-array='getDraggableItemsArray()' element-dragged-event-name="'slideDragged'" dragAndDropId='{{slide.dragAndDropId}}'>
                        <div class='iqss-slideshowedit-slide-actions'>
                            <span ng-class="{'iqss-slideshowedit-slide-actions-index': true, 'iqss-slideshowedit-slide-actions-index-selected': isCurrentSlide(slide)}">{{$index + 1}}</span>
                            <span>
                                <input id='{{slide._id}}' ng-true-value="true" ng-false-value="false" ng-model-options="{allowInvalid: true}" type="checkbox" data-ng-model="slide.hidden">
                                <label for='{{slide._id}}'>
                                    <span ng-if='!slide.hidden' style='background: url(../../../modules/core/img/hide-slide.svg) left bottom no-repeat;vertical-align: middle;height: 15px;'></span>
                            <span ng-if='slide.hidden' style='background: url(../../../modules/core/img/view-slide.svg) left bottom no-repeat;vertical-align: middle;;height: 15px;'></span>
                            </label>
                            </span>
                            <span class='iqss-slideshowedit-slide-actions-title'>{{slide.title}}</span>
                            <span class='iqss-slideshowedit-slide-actions-saveToBlueprints' ng-click="saveSlideToBlueprints(slide)"></span>
                            <span class='iqss-slideshowedit-slide-actions-delete' ng-click='removeSlide(slide)'></span>
                        </div>
                        <div class='iqss-slideshowedit-slide-preview'>
                            <div ng-slide-view reference-slide="slide">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SLIDE LIST PREVIEW end-->
            </div>

            <div class="iqss-slideshowedit-emptyColumn">&nbsp;</div>

            <div class="iqss-slideshowedit-data">
                <uib-tabset>

                    <!--SLIDE INFO START-->
                    <uib-tab heading="Slide info">
                        <div class='iqss-slideshowedit-data-tab'>
                            <div>
                                <div>Slide name</div>
                                <div>
                                    <input type="text" data-ng-model="currentSlide.title" id="name" placeholder="Name" required/>
                                </div>
                            </div>
                            <div class='iqss-form-label'>Tags</div>
                            <ui-select multiple tagging tagging-label="(custom 'new' tag)" ng-model="slideshow.tags" sortable="true" style="width: 300px;" title="Choose a tag">
                                <ui-select-match placeholder="Select tags or enter new...">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="tag in possibleTags" refresh="refreshTags($select.search)" refresh-delay="0">
                                    {{tag}}
                                </ui-select-choices>
                            </ui-select>
                            <div class='iqss-form-label'>Zoom percent ({{currentSlide.zoomPercent}}%)</div>
                            <div ui-slider min=0 max=200 ng-model="currentSlide.zoomPercent"></div>

                            <div class='iqss-form-label'>Details URL</div>
                            <input type="text" data-ng-model="currentSlide.detailsUrl" id="detailsUrl" placeholder="detailsUrl" required>

                            <div>
                                <input id='{{slide._id}}InTab' ng-true-value="true" ng-false-value="false" ng-model-options="{allowInvalid: true}" type="checkbox" data-ng-model="currentSlide.hidden">
                                <label for='{{slide._id}}InTab'>
                                    <span ng-if='!currentSlide.hidden' style='background: url(../../../modules/core/img/hide-slide.svg) left bottom no-repeat;vertical-align: middle;height: 15px;padding-left:20px;width:100%;margin-top:25px;'>Hide</span>
                                    <span ng-if='currentSlide.hidden' style='background: url(../../../modules/core/img/view-slide.svg) left bottom no-repeat;vertical-align: middle;height: 15px;padding-left:20px;width:100%;margin-top:25px;'>Show</span>
                                </label>
                            </div>
                            <div class='iqss-slideshowedit-slide-actions-saveToBlueprints iqss-slideshowedit-slideInfo-actions' ng-click="saveSlideToBlueprints(currentSlide)">Update / Save New in repository</div>
                            <div class='iqss-slideshowedit-slide-actions-delete iqss-slideshowedit-slideInfo-actions' ng-click='removeSlide(currentSlide)'>Delete slide</div>
                        </div>
                    </uib-tab>
                    <!--SLIDE INFO END-->

                    <!--SLIDE CONTENT START-->
                    <uib-tab heading="Slide content">
                        <div class='iqss-slideshowedit-data-tab'>
                            <div ng-repeat="(templateElement, value) in templateElements">
                                <div class='iqss-form-label'>{{value.label}}</div>
                                <div class="controls">
                                    <input ng-if="value.type=='text'" type="text" ng-model="currentSlide.content[templateElement]">
                                    <div text-angular ng-if="value.type=='html'" type="text" ng-model="currentSlide.content[templateElement]"></div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <!--SLIDE CONTENT END-->

                    <!--ANIMATION START-->
                    <uib-tab heading="Animation">
                        <div class='iqss-slideshowedit-data-tab'>
                            <div>Animation Type</div>
                            <select ng-options="animationType for animationType in animationTypes" ng-model="currentSlide.animationType"></select>
                            <div class='iqss-form-label'>Duration is seconds</div>
                            <input type="number" ng-model="currentSlide.durationInSeconds" id="durationInSeconds" placeholder="Duration in seconds" required>
                        </div>
                    </uib-tab>
                    <!--ANIMATION END-->
                </uib-tabset>
            </div>

            <div class="iqss-slideshowedit-emptyColumn">&nbsp;</div>

            <div class="iqss-slideshowedit-preview">

                <div ng-slide-view reference-slide="currentSlide">
                </div>
                <div class="iqss-slideshowedit-preview-footer">
                    <div class="iqss-slideshowedit-preview-footer-emptyLeft"></div>
                    <div class="iqss-slideshowedit-preview-footer-title">{{currentSlide.title}}</div>
                    <div class="iqss-slideshowedit-preview-footer-fullScreen-container">
                        <div class="iqss-slideshowedit-preview-footer-fullScreen" ng-click='fullScreenSlidePreview()'></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
