<section data-ng-controller="SlideshowsController" data-ng-init="findOne()" style="margin-top: 58px;">
    <div class='iqss-page-header'>
        <div class='iqss-slideshows-header-container'>
            <div class='iqss-slideshows-header-title-container'>
                <span class='iqss-slideshowedit-header-title' ng-bind='slideshow.name'></span>
                <div>
                    <hr class='iqss-slideshowedit-header-title-bottom-line'>
                </div>
            </div>
            <div class='iqss-slideshows-header-actions iqss-slideshows-links'>
                <a href='#' class='iqss-slideshowedit-saveLink' ng-click="update()"  class='iqss-slideshowedit-saveLink'>Save</a>
                <a href="/slideshow#!/preview/{{slideshow._id}}" target="_blank" class='iqss-slideshowedit-previewLink'>Preview</a>
                <a href='#' ng-click="publish()" class='iqss-slideshows-slideshow-publishLink'>Publish</a>
                <a href='#' data-ng-click='remove();' class='iqss-slideshows-slideshow-deleteLink'>Remove</a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group col-md-12">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="slideshow.name" id="name" class="form-control" placeholder="Name" required/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label" for="name">Tags</label>
                    <div class="controls">
                        <ui-select multiple tagging tagging-label="(custom 'new' tag)" ng-model="slideshow.tags" theme="bootstrap" sortable="true" style="width: 300px;" title="Choose a tag">
                            <ui-select-match placeholder="Select tags or enter a new one...">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="tag in possibleTags"
                                    refresh="refreshTags($select.search)"
                                    refresh-delay="0">
                                    {{tag}}
                                </ui-select-choices>
                          </ui-select>
                    </div>
                </div>
                <div class="col-md-12">                   
                    <div class="col-md-1 slides-continer">
                        <div class="form-group slides-controllers">
                            <select ng-options="template for template in templates" ng-model="selectedTemplate"></select>
                            <div class="slides-ops">
                                <button type="button" ng-click="addNewSlide()">+</button>
                            </div>
                        </div>
                        <div class="form-group slides-controllers">
                            <input type="button" value="add from blueprints" ng-click="addFromBlueprints()">
                        </div>
                        <!-- SLIDE LIST PREVIEW start-->

                        <div ng-class="{'hidden-slide':slide.hidden, 'current-slide':isCurrentSlide(slide)}"
                             data-ng-repeat="slide in slideshow.draftSlides" class="form-group slide">
                            <div>
                                <input style="width:15px;height:15px;display:inline-block" ng-true-value="true" ng-false-value="false" ng-model-options="{allowInvalid: true}" type="checkbox" data-ng-model="slide.hidden" id="hidden" class="form-control">
                                {{slide.title}}
                                <button style="width: 15px;height: 15px;display: inline-block;padding: 0px;line-height: 15px;font-size: 10px;" ng-click="removeSlide(slide)">X</button>
                            </div>
                            <span  ng-click="setCurrentSlide(slide)" class="control-label slide-label">
                                <div class="move-slide">
                                    <div class="move-slide-button" ng-click="moveSlideUp(slide)">▲</div>
                                    <div class="move-slide-button" ng-click="moveSlideDown(slide)">▼</div>
                                </div>
                                <div style="width:213px;height:130px;border:1px solid black;display:inline-block;overflow:hidden">
                                    <div ng-slide-view reference-slide="slide" slide-width="213" slide-height="130">
                                    </div>
                                </div>
                            </span>
                        </div>  
                        <!-- SLIDE LIST PREVIEW end-->
                        <div class="form-group slides-update">
                            <input type="submit" value="Update" class="btn btn-default">
                        </div>
                    </div> 
                    <div ng-show="currentSlide" class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <select ng-options="template for template in templates" ng-model="currentSlide.templateName"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                                <div class="controls">
                                    <input type="text" ng-model="currentSlide.title" id="title" class="form-control" placeholder="Title">
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="animationType">Animation Type</label>
                                <div class="controls">
                                    <select ng-options="animationType for animationType in animationTypes" ng-model="currentSlide.animationType"></select>
                                </div>
                        </div>   
                        <div class="form-group">
                            <label class="control-label" for="durationInSeconds">Duration is seconds</label>
                                <div class="controls">
                                    <input type="number" ng-model="currentSlide.durationInSeconds" id="durationInSeconds" class="form-control" placeholder="Duration in seconds" required>
                                </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label" for="zoomPercent">Zoom percent ({{currentSlide.zoomPercent}}%)</label>
                                <div class="controls">
                                    <div ui-slider min=0 max=1000 ng-model="currentSlide.zoomPercent" id="selectedResolution"></div>
                                </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="selectedResolution">Resolution ({{currentSlide.resolution.width}} / {{currentSlide.resolution.height}})</label>
                                <div class="controls">
                                    <div ui-slider min=0 max={{resolutions.length-1}} ng-model="selectedResolution" id="selectedResolution"></div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="detailsUrl">Details URL</label>
                            <div class="controls">
                                <input type="text" data-ng-model="currentSlide.detailsUrl" id="detailsUrl" class="form-control" placeholder="detailsUrl" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="hidden">Hidden</label>
                            <div class="controls">
                                <input ng-true-value="true" ng-false-value="false" ng-model-options="{allowInvalid: true}" type="checkbox" data-ng-model="currentSlide.hidden" id="hidden" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group" ng-repeat="(templateElement, value) in templateElements">
                            <label class="control-label">{{value.label}}
                                
                            </label>  
                            <div class="controls" >
                                <input ng-if="value.type=='text'" type="text" ng-model="currentSlide.content[templateElement]" class="form-control">
                                <div text-angular ng-if="value.type=='html'" type="text" ng-model="currentSlide.content[templateElement]" ></div>
                            </div>
                        </div> 

                         <div class="form-group">
                            <label class="control-label">Save to Blueprints</label>
                            <div class="controls" >
                                <input type="button" ng-click="saveSlideToBlueprints()" value="save">
                            </div>
                        </div>
                    </div>  
                    <div ng-show="currentSlide" class="col-md-3  col-md-offset-1" >
                        <label class="control-label" for="durationInSeconds">Preview</label>
                        <div style="width:426px;height:240px;border:1px solid black;display:inline-block;">
                                <div ng-slide-view reference-slide="currentSlide" slide-width="426" slide-height="240">
                                </div>
                        </div>

                    </div>
                    

                </div>
                 
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
