<section data-ng-controller="SlideshowsListController">
    <div class='iqss-page-header'>
        <div>
            <div class='iqss-slideshowlist-showOnlyMineContainer'>
                <input id='showOnlyMine' type="checkbox" ng-model="filterParameters.showOnlyMine" ng-change='filterSlideshows()'>
                <label for='showOnlyMine'><span></span>Show only mine</label>
            </div>
            <div tag-and-name-filter search-Provider="searchProvider"></div>
        </div>
    </div>
    <div class='iqss-slideshowlist-content' infinite-scroll handler='getNextChunk()'>
        <section data-ng-repeat="slideshow in slideshows" >
            <div class="iqss-slideshowlist-slideshow" ng-if='!slideshow.isPlacheloderForCreateNew || showCreateNewTile'>
                <div ng-if='slideshow.isPlacheloderForCreateNew' class='iqss-slideshowlist-slideshow-createNew-container iqss-slideshows-links' ng-click='navigateToCreateNewSlideShow()' ng-show='showCreateNewTile'>
                    <div class='iqss-slideshowlist-slideshow-createNew'>
                        <span class='iqss-slideshowlist-slideshow-createNew-link'>Create new</span>
                    </div>
                </div>
                <div ng-if='!slideshow.isPlacheloderForCreateNew'>
                    <div>
                        <div class="iqss-slideshowlist-slideshow-title-container" ng-class="{'iqss-slideshowlist-slideshow-title-container-published': slideshow.published, 'iqss-slideshowlist-slideshow-title-container-draft': !slideshow.published}">
                           <div data-ng-bind="slideshow.name"></div>
                        </div>
                    </div>

                    <a class='iqss-slideshowlist-slideshow-preview' href="#!/slideshows/{{slideshow._id}}" data-ng-controller="PlayerController" ng-init="initPreviewFirstSlide(slideshow._id)">
                        <div ng-player style="background-color: #ffffff;height:100px;max-height:100%;width:100%;display:inline-block" slides="slides" ng-player-on-hold='true'></div>
                    </a>

                    <div class='iqss-slideshowlist-slideshow-linksContainer'>
                        <a data-ng-href='#!/slideshows/{{slideshow._id}}/edit' class='iqss-slideshowlist-slideshow-editLink'></a>
                        <a href='#' ng-click="publishSlideShow(slideshow)" class='iqss-slideshowlist-slideshow-publishLink'></a>
                        <a href='#' data-ng-click='remove(slideshow);' class='iqss-slideshowlist-slideshow-deleteLink'></a>
                        <div class='iqss-slideshowlist-slideshow-delimiter'>
                        </div>
                    </div>

                    <div class='iqss-slideshowlist-slideshow-authorName' data-ng-bind="slideshow.user.displayName"></div>
                    <div class='iqss-slideshowlist-slideshow-lastModified'>Last modified: <span data-ng-bind="slideshow.modified | date:'dd.MM.yyyy'"></span></div>
                </div>
            </div>
        </section>
        <div class="iqss-slideshowlist-slideshow-empty">
        </div>
        <div class="iqss-slideshowlist-slideshow-empty">
        </div>
        <div class="iqss-slideshowlist-slideshow-empty">
        </div>
        <div class="iqss-slideshowlist-slideshow-empty">
        </div>
        <div class="iqss-slideshowlist-slideshow-empty">
        </div>
    </div>
</section>
