<section data-ng-controller="SlideshowsController" data-ng-init="find()" style="height:100%">
    <section class='iqss-slideshowlist-header'>
        <div class='col-sm-offset-2 col-sm-8'>
            <input type="checkbox" ng-model="filterParameters.showOnlyMine" ng-change='filterSlideshows()'>
            <span>Show only mine</span>
            <span tag-and-name-filter search-Provider="searchProvider"></span>
        </div>
    </section>
    <div class='iqss-slideshowlist-content col-sm-offset-2 col-sm-8'>
        <section data-ng-repeat="slideshow in slideshows" >
            <div class="col-sm-3 iqss-slideshowlist-slideshow">

                <div>
                    <div class="list-group-item-heading" data-ng-bind="slideshow.name"></div>
                    <div style="width:100%; height:180px;display:inline-block" data-ng-controller="PlayerController" ng-init="initPreview(slideshow._id)" ng-include="playerView"></div>
                    <a data-ng-href="#!/slideshows/{{slideshow._id}}" class="list-group-item">
                        edit
                    </a>
                    <span class="col-md-6">
                        <a href="/slideshow#!/preview/{{slideshow._id}}/" target="_blank">Start</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
    <section class="alert alert-warning text-center" data-ng-hide="!slideshows.$resolved || slideshows.length">
    	No Slideshows yet, why don't you <a href="/#!/slideshows/create">create one</a>?
    </section>
</section>
