<section data-ng-controller="SlideshowsController" data-ng-init="find()">
    <div class='iqss-slideshowlist-header'>
        <div>
            <div>
                <input type="checkbox" ng-model="filterParameters.showOnlyMine" ng-change='filterSlideshows()'>
                <span>Show only mine</span>
            </div>
            <div tag-and-name-filter search-Provider="searchProvider"></div>
        </div>
    </div>
    <div class='iqss-slideshowlist-content'>
        <div class='col-sm-12'>
            <section data-ng-repeat="slideshow in slideshows" >
                <div class="iqss-slideshowlist-slideshow">
                    <div>
                        <div>
                            <div class="list-group-item-heading" data-ng-bind="slideshow.name"></div>
                            <a data-ng-href="#!/slideshows/{{slideshow._id}}" class="list-group-item">
                                edit
                            </a>
                            <span class="col-md-6">
                                <a href="/slideshow#!/preview/{{slideshow._id}}/" target="_blank">Start</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--span class="col-md-6" style="max-height:180px;"><iframe style="width:800px; height:500px; transform: scale(0.3); transform-origin: 0 0;" src="{{'/slideshow#!/preview/' + slideshow._id + '/'}}"></iframe></span-->
            </section>
            <div class="iqss-slideshowlist-slideshow-empty">
            </div>
            <div class="iqss-slideshowlist-slideshow-empty">
            </div>
            <div class="iqss-slideshowlist-slideshow-empty">
            </div>
            <div class="iqss-slideshowlist-slideshow-empty">
            </div>
            <div class="iqss-slideshowlist-slideshow-empty">
            </div>
        </div>
    </div>
</section>
