<div class="modal-header">
    <input type="text" placeholder="search" ng-model="filter">
    <input type="button" value="Search" ng-click="search()"/>
</div>
<div class="modal-body">
        <div class="row">
            <div class="col-sm-6" ng-repeat="slide in slides" style="border:1px solid #000;min-height:150px;cursor:pointer" ng-click="selectSlide(slide)">
                <div style="font-weight:bold">{{slide.repoTitle}}</div>
                <div style="font-weight:bold">{{slide.publisher}}</div>
                <div ng-include="slide.templateUrl" style="zoom:70%">
                </div>
            </div>
        </div>
    <input type="button" ng-click="$close()"/>

</div>
