<div class='iqss-slideshowview-playing-on-header'>
    <div class='iqss-slideshowview-playing-on-label'>Play SlideShow on:</div>
    <div class="iqss-slideshowview-playing-on-searchControls">
        <div>
            <span>
                <input id='checkBoxAll' type="checkbox" ng-model='displayAll' class="iqss-slideshowview-playing-on-searchControls-allCheckbox"/>
                <label for='checkBoxAll'><span></span>All</label>
            </span>
        </div>
        <div class='iqss-slideshowview-playing-on-searchControls-search'>
            <div class='iqss-slideshowview-playing-on-searchControls-search-container'>
                <input type="text" placeholder="Search" ng-model="filter" class='iqss-slideshowview-playing-on-searchControls-search-input'>
            </div>
            <div>
                <hr class='iqss-slideshowview-playing-on-searchControls-search-bottom-line'>
            </div>
        </div>
    </div>
</div>
<div class='iqss-slideshowview-playing-on-devices-list'>
    <div class="iqss-slideshowview-playing-on-devices-list-item" ng-repeat="device in devices">
        <input type="checkbox" ng-model="device.checked" id='{{device._id}}'/>
        <label for='{{device._id}}'><span></span>{{device.name}}</label>
    </div>
</div>
<div class='iqss-slideshowview-playing-on-footer'>
    <div class='iqss-slideshowview-playing-on-footer-actions'>
        <input type="button" value="Save" ng-click="save()" />
        <input type="button" value="Cancel" ng-click="$close()" />
    </div>
</div>


