<section data-ng-controller="SlideshowsController" data-ng-init="findById()" style="margin-top: 58px;">
    <div class='iqss-slideshows-header iqss-slideshowview-header'>
        <span ng-bind='slideshow.name'></span>
        <div class='iqss-slideshowview-header-actions iqss-slideshows-links'>
            <a class='iqss-slideshowview-slideshow-editLink' data-ng-href='#!/slideshows/{{slideshow._id}}/edit' class='iqss-slideshows-slideshow-editLink'>Edit</a>
            <a href='#' ng-click="publish()" class='iqss-slideshowview-slideshow-publishLink'>Publish</a>
            <a href='#' data-ng-click='remove();' class='iqss-slideshowview-slideshow-deleteLink'>Remove</a>
        </div>
    </div>
    <div class="iqss-slideshowview-content">
        <div class='iqss-slideshowview-content-player-container'>
            <div class='iqss-slideshowview-content-player' dynamic-resizer height-width-ratio="0.5" data-ng-controller="PlayerController" ng-init="initPreview(previewSlideshowId)">
                <div ng-player slides="slides" in-preview='true'></div>
            </div>
            <div>
                <div>
                    <span class='iqss-slideshowview-content-player-container-play'></span>
                </div>
                <div><button ng-click="moveSlideLeft()">Left</button></div>
                <div>Slide {{currentPreviewSlideIndex}} of {{numberOfSlides}}</div>
                <div><button ng-click="moveSlideRight()">Right</button></div>
            </div>
        </div>
        <div class='iqss-slideshowview-content-player-data'>
            <div>
                <span>Created by:</span><span ng-bind='slideshow.user.displayName'></span>
            </div>
            <div >
                <span>Status:</span><span ng-bind='getCurrentSlideShowStatus()' ng-class="{'iqss-slideshowview-content-player-data-status-published': slideshow.published, 'iqss-slideshowview-content-player-data-status-draft': !slideshow.published}"></span>
            </div>
            <div>
                <span>Created on:</span><span ng-bind='formatDate(slideshow.created)'></span>
            </div>
            <div>
                <span>Last modified on:</span><span ng-bind='formatDate(slideshow.modified)'></span>
            </div>
            <hr>
            <div>
                <span>Playing on:</span>
                <span class='iqss-slideshowview-content-player-data-playingOn' ng-click='onPlayOnClicked();'>
                    <span ng-bind='slideshow.nrOfDevicesTheSlideIsAttachedTo'></span> devices
                </span>
            </div>
        </div>
	</div>
</section>
