<section data-ng-controller="SlideshowsController" data-ng-init="findById()" style="margin-top: 58px;">
    <div class='iqss-page-header'>
        <div class='iqss-slideshows-header-container'>
            <div class='iqss-slideshows-header-title-container'>
                <span ng-bind='slideshow.name'></span>
            </div>
            <div class='iqss-slideshows-header-actions iqss-slideshows-links'>
                <a class='iqss-slideshowview-slideshow-editLink' data-ng-href='#!/slideshows/{{previewSlideshowId}}/edit' class='iqss-slideshows-slideshow-editLink'>Edit</a>
                <div ng-click="publish()" class='iqss-slideshows-slideshow-publishLink'>Publish</div>
                <div data-ng-click='remove();' class='iqss-slideshows-slideshow-deleteLink'>Remove</div>
            </div>
        </div>
    </div>
    <div class="iqss-slideshowview-content">
        <div class='iqss-slideshowview-content-player-container'>
            <div class='iqss-slideshowview-content-player' dynamic-resizer dynamic-resizer-height-width-ratio="0.5" data-ng-controller="PlayerController" ng-init="initPreviewDraftSlides(previewSlideshowId)">
                <div ng-player slides="slides" ng-player-on-hold='true' ng-player-id='viewPlayerId'></div>
            </div>
            <div class='iqss-slideshowview-content-player-actions'>
                <div ng-if='!playSlideShow' class='iqss-slideshowview-content-player-container-play' ng-click='togglePlay()'></div>
                <div ng-if='playSlideShow' class='iqss-slideshowview-content-player-container-pause' ng-click='togglePlay()'></div>
                <div class='iqss-slideshowview-content-player-actions-empty'></div>
                <div class='iqss-slideshowview-content-player-actions-center'>
                    <div ng-click='moveSlideLeft()' class='iqss-slideshowview-content-player-actions-center-previous'></div>
                    <div class='iqss-slideshowview-content-player-actions-center-slideInfo'>Slide {{currentPreviewSlideIndex}} of {{numberOfSlides}}</div>
                    <div></div>
                    <div ng-click='moveSlideRight()' class='iqss-slideshowview-content-player-actions-center-next'></div>
                </div>
                <div class='iqss-slideshowview-content-player-actions-empty'></div>
                <a href="/slideshow#!/preview/{{previewSlideshowId}}" target="_blank" class='iqss-slideshowview-content-player-actions-maximize'>
                </a>
            </div>
        </div>
        <div class='iqss-slideshowview-content-player-data'>
            <div>
                <span>Created by:</span><span ng-bind='slideshow.user.displayName'></span>
            </div>
            <div >
                <span>Status:</span><span ng-bind='getCurrentSlideShowStatus()' ng-class="{'iqss-slideshowview-content-player-data-status-published': slideshow.published, 'iqss-slideshowview-content-player-data-status-draft': !slideshow.published}"></span>
            </div>
            <div>
                <span>Created on:</span><span ng-bind="slideshow.created | date:'dd.MM.yyyy'"></span>
            </div>
            <div>
                <span>Last modified on:</span><span ng-bind="slideshow.modified | date:'dd.MM.yyyy'"></span>
            </div>
            <hr>
            <div>
                <span>Playing on:</span>
                <span class='iqss-slideshowview-content-player-data-playingOn' ng-click='onPlayOnClicked();'>
                    <span ng-bind='slideshow.nrOfDevicesTheSlideIsAttachedTo'></span> devices
                </span>
            </div>
        </div>
	</div>
</section>
