<section data-ng-controller="SlideshowsController" data-ng-init="findById()" style="margin-top: 58px;">
    <div class='iqss-slideshows-header iqss-slideshowview-header'>
        <span ng-bind='slideshow.name'></span>
        <div class='iqss-slideshowview-header-actions iqss-slideshows-links'>
            <a class='iqss-slideshowview-slideshow-editLink' data-ng-href='#!/slideshows/{{slideshow._id}}/edit' class='iqss-slideshows-slideshow-editLink'>Edit</a>
            <a href='#' ng-click="publish()" class='iqss-slideshowview-slideshow-publishLink'>Publish</a>
            <a href='#' data-ng-click='remove();' class='iqss-slideshowview-slideshow-deleteLink'>Remove</a>
        </div>
    </div>
    <div class="iqss-slideshowview-content">
        <div class='iqss-slideshowview-content-player-container'>
            <div class='iqss-slideshowview-content-player' dynamic-resizer height-width-ratio="0.5" data-ng-controller="PlayerController" ng-init="initPreview(previewSlideshowId)" ng-include="playerView"></div>
            <div>{{currentPreviewSlideIndex}}/{{numberOfSlides}}</div>
            <button ng-click="moveSlideLeft()">Left</button>
            <button ng-click="moveSlideRight()">Right</button>
        </div>

        <div class='iqss-slideshowview-content-player-data'>
            <label>Created by:</label><span ng-bind='slideshow.user.displayName'></span>
            <label>Status:</label><span ng-bind='getCurrentSlideShowStatus()'></span>
            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="slideshow.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="slideshow.user.displayName"></span>
                </em>
            </small>
            <a class="btn btn-primary" data-ng-click="onPlayOnClicked();">

                <i class="glyphicon glyphicon-film"></i>
            </a>
        </div>
	</div>
</section>
