.template-iquest-news {
    width: 1920px;
    height: 1080px;
    position: relative;
    font-family: 'Segoe UI', sans-serif;

    .news-header {
        height: 472px;
        padding-top: 210px;

        .news-background {
            top: 0;
            left: 0;
            z-index: -1;
            position: absolute;
            clip: rect(0px, 1920px, 472px, 0px);
        }
    
        .news-title-line {
            width: 100%;
            height: 210px;
            padding-left: 70px;
            background-color: rgba(0, 149, 213, 0.3);
        
            .news-title {
                color: #fff;
                font-size: 82px;
                font-weight: 500;
                text-transform: uppercase;
            }

            .news-subtitle {
                color: #fff;
                font-size: 45px;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
    }

    .news-body {
        margin: 105px;

        &:after {
            display: table;
            content: "";
            clear: both;
        }

        .news-content {
            float: left;
            width: 1260px;
            font-size: 30px;
            font-weight: 200;
            color: #444444;
            
            a {
                color: #0095d6;
                text-decoration: none;
            }

            p {
                margin-bottom: 40px;
            }

            .news-text {
                height: 322px;
            }

            .news-source {
                margin-top: 50px;
            }
        }

        .news-date {
            float: right;
            width: 345px;

            .news-date-label {
                font-size: 35px;
                font-weight: 400;
                letter-spacing: 4px;
            }

            .news-date-month {
                font-size: 65px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 4px;
                text-transform: uppercase;
                color: #0095d6;
            }

            .news-date-year {
                font-size: 30px;
                font-weight: 500;
            }
        }
    }

    .news-qr-logo {
        right: 15px;
        bottom: 15px;
        width: 140px;
        position: absolute;

        .news-qr {
            display: block;
            width: 100px;
            height: 100px;
            margin: 20px auto;
        }

        .news-logo {
            display: block;
            width: 125px;
            height: 31px;
            margin: 0 auto;
            background-image: url('[RELATIVE-PATH]/logo.png');
            background-size: cover;
        }
    }
}
