.template-iquest-news {
  width: 1920px;
  height: 1080px;
  position: relative;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-flow: column; }
  .template-iquest-news .news-header {
    height: 472px;
    padding-top: 210px; }
    .template-iquest-news .news-header .news-background-bottom-clipper {
      width: 100%;
      height: 30px;
      position: absolute;
      top: 1070px;
      background: white; }
    .template-iquest-news .news-header .news-background {
      top: 0;
      left: 1px;
      z-index: -1;
      width: 1918px;
      position: absolute; }
    .template-iquest-news .news-header .news-title-line {
      width: 100%;
      height: 210px;
      padding-left: 70px;
      background-color: rgba(0, 149, 213, 0.3); }
      .template-iquest-news .news-header .news-title-line .news-title {
        color: #fff;
        font-size: 82px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .template-iquest-news .news-header .news-title-line .news-subtitle {
        color: #fff;
        font-size: 45px;
        font-weight: 500;
        letter-spacing: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
  .template-iquest-news .news-body {
    padding: 105px;
    background: white;
    display: flex;
    flex-flow: row;
    flex: 1; }
    .template-iquest-news .news-body .news-content {
      width: 1260px;
      font-size: 30px;
      font-weight: 200;
      color: #444444;
      display: flex;
      flex-flow: column;
      flex: 1; }
      .template-iquest-news .news-body .news-content a {
        color: #0095d6;
        text-decoration: none; }
      .template-iquest-news .news-body .news-content p {
        margin-bottom: 40px; }
      .template-iquest-news .news-body .news-content .news-text {
        word-wrap: break-word;
        overflow: hidden; }
      .template-iquest-news .news-body .news-content .news-source {
        margin-top: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .template-iquest-news .news-body .news-date {
      width: 445px;
      margin-left: 40px; }
      .template-iquest-news .news-body .news-date .news-date-label {
        font-size: 35px;
        font-weight: 400;
        letter-spacing: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .template-iquest-news .news-body .news-date .news-date-month {
        font-size: 65px;
        font-weight: 500;
        letter-spacing: 4px;
        color: #0095d6;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .template-iquest-news .news-body .news-date .news-date-year {
        font-size: 30px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
  .template-iquest-news .news-qr-logo {
    right: 15px;
    bottom: 15px;
    width: 140px;
    position: absolute; }
    .template-iquest-news .news-qr-logo .news-qr {
      display: block;
      width: 100px;
      height: 100px;
      margin: 20px auto; }
    .template-iquest-news .news-qr-logo .news-logo {
      display: block;
      width: 125px;
      height: 31px;
      margin: 0 auto;
      background-image: url("[RELATIVE-PATH]/logo.png");
      background-size: cover; }
