.template-freeText {
  width: 1920px;
  height: 1080px;
  text-align: left; }
  .template-freeText * {
    line-height: normal; }
  .template-freeText .freeText-left-side {
    background-image: url("[RELATIVE-PATH]/leftSide.png");
    background-size: 94px 100%;
    background-repeat: no-repeat;
    width: 94px;
    height: 100%;
    position: absolute; }
  .template-freeText .freeText-bottom-side {
    background-image: url("[RELATIVE-PATH]/bottomSide.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
    height: 386px;
    position: absolute;
    bottom: 0px;
    right: 0px; }
  .template-freeText .freeText-title {
    position: absolute;
    left: 160px;
    top: 99px;
    height: 120px;
    width: 1690px;
    background-color: #C3E1C2;
    font-size: 86px;
    line-height: 99px;
    padding-left: 30px;
    vertical-align: middle;
    padding-top: 9px;
    color: white; }
  .template-freeText .freeText-text {
    position: absolute;
    left: 160px;
    top: 229px;
    height: 817px;
    width: 1690px;
    background-color: #DFEEB8;
    padding-left: 30px;
    vertical-align: middle;
    padding-top: 9px;
    color: white;
    font-size: 32px; }
