/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
/*
    tags and names filter
*/
.iqss-ui-select {
  float: left;
  background-image: url(../../../../modules/core/img/search.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
  height: 44px;
  line-height: 44px;
  box-sizing: content-box;
  padding-top: 3px; }

.iqss-ui-select span.ui-select-match-text {
  padding-left: 20px; }

.iqss-ui-select span.btn-default:active:hover {
  background-color: white; }

.iqss-ui-select span.ui-select-placeholder {
  padding-left: 20px;
  font-size: 15px; }

.iqss-ui-select input {
  border: 0;
  color: #5a5a5a;
  padding-left: 20px;
  height: auto;
  font-size: 15px; }

.iqss-ui-select input:focus {
  box-shadow: none; }

.iqss-ui-select span:active {
  box-shadow: none; }

.iqss-ui-select * {
  background-color: white;
  border-radius: 0;
  border: 0;
  line-height: 35px;
  padding: 0;
  border-color: white;
  border-image-width: 0;
  background-position: center;
  box-shadow: none;
  font-size: 12px;
  color: #009da5;
  transition-property: none; }

.iqss-ui-select div.ui-select-container {
  width: 200px;
  margin-left: 10px; }

.iqss-ui-select span.form-control {
  position: absolute; }

.iqss-ui-select li > div {
  clear: both; }

.btn-default:hover, .btn-default:focus {
  background-color: white;
  border-color: white; }

.btn-default {
  background-image: none;
  text-shadow: none; }

.btn {
  padding: 0; }

.iqss-ui-select a.ui-select-choices-row.active > a {
  background-color: white; }

.iqss-ui-select .ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: white; }

.iqss-ui-select ul {
  border: 1px solid #eeeeee; }

.iqss-ui-select-bottom-line {
  position: absolute;
  background: #009da5;
  top: 17px;
  height: 1px;
  margin-left: -15px;
  width: 215px; }

/*
    tags and names filter summary
*/
.iqss-tag-tagAndNameFilterSummaryElement {
  color: #5a5a5a;
  font-size: 11px;
  line-height: 44px; }

.iqss-tag-tagAndNameFilterSummaryElement-remove {
  cursor: pointer; }

.iqss-blueprintslist-section {
  margin-top: 200px; }

.iqss-blueprintslist-content {
  height: 100%; }

.iqss-blueprintslist-content * {
  line-height: 12px; }

.iqss-blueprintslist-content > div {
  padding-top: 162px;
  max-width: 85%;
  margin: auto;
  min-width: 194px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }

.iqss-blueprintslist-slideshow {
  height: 230px;
  margin: 0 17px 15px 17px;
  padding: 0;
  width: 194px;
  box-shadow: 2px 2px 3px #DFDFDF; }

.iqss-blueprintslist-slideshow-empty {
  height: 0;
  width: 194px;
  margin: 0 17px 20px 17px;
  padding-right: 0; }

.iqss-blueprintslist-slideshow > div {
  background-color: #f5f5f5;
  height: 100%;
  border: 1px solid #eeeeee; }

.iqss-blueprintslist-slideshow-preview {
  height: 100px;
  width: 100%;
  display: inline-block;
  border: 1px solid #DFDFDF;
  overflow: hidden;
  background-color: white; }

.iqss-blueprintslist-slideshow-title-container {
  font-size: 12px;
  color: #5a5a5a;
  box-sizing: content-box;
  display: inline-block;
  padding-right: 22px;
  width: 154px;
  height: 33px;
  line-height: 33px;
  padding-left: 10px; }

.iqss-blueprintslist-slideshow-title-container-draft {
  background: url(../../../modules/core/img/draft.svg) right center no-repeat; }

.iqss-blueprintslist-slideshow-title-container-published {
  background: url(../../../modules/core/img/published-ok.svg) right center no-repeat; }

.iqss-blueprintslist-slideshow-title-container > div {
  width: 194px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  padding-right: 35px; }

.iqss-blueprintslist-slideshow-deleteLink {
  background: url(../../../modules/core/img/delete.svg) right center no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  float: right;
  margin-right: -21px;
  margin-top: 7px; }

.iqss-blueprintslist-slideshow-delimiter {
  height: 1px;
  width: 180px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #DFDFDF; }

.iqss-blueprintslist-slideshow-tag {
  font-size: 11px;
  color: #AFAFAF; }

.iqss-blueprintslist-slideshow-linksContainer {
  padding: 5px;
  height: 38px;
  overflow: hidden; }

.iqss-blueprintslist-slideshow-authorName {
  padding: 6px; }
