@import 'variables.scss';
@import 'mixins.scss';
@import '../../core/css/variables.scss';
@import '../../core/css/mixins.scss';
@import '../../core/css/notInlcudedInCore/tagAndNameFilter.scss';

.iqss-blueprintslist-section {
    margin-top: 200px;
}

.iqss-blueprintslist-content {
    height: 100%;
}

.iqss-blueprintslist-content > div {
    padding-top: $blueprints-list-header-content-top-padding;
    max-width: 90%;
    margin: auto;
    min-width: $blueprints-list-slideshow-width;
    @include positionInCenterInResponsiveContainer;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.iqss-blueprintslist-slideshow {
    height: $blueprints-list-slideshow-height;
    margin: 0 $blueprints-list-slideshow-margin 15px $blueprints-list-slideshow-margin;
    padding: 0;
    width: $blueprints-list-slideshow-width;
    box-shadow: 2px 2px 3px $grey-color;
}

.iqss-blueprintslist-slideshow-empty {
    height: 0;
    width: $blueprints-list-slideshow-width;
    margin: 0 $blueprints-list-slideshow-margin 20px $blueprints-list-slideshow-margin;
    padding-right: 0;
}

.iqss-blueprintslist-slideshow > div {
    background-color: $light-grey-color;
    height: 100%;
    border: 1px solid $dark-grey-color;
}

.iqss-blueprintslist-slideshow-preview {
    height: $blueprints-list-slideshow-preview-height;
    width: 100%;
    display:inline-block;
    border: 1px solid #DFDFDF;
    overflow: hidden;
    background-color: white;
}

.iqss-blueprintslist-slideshow-header {
    font-size: $font-size;
    color: $very-dark-grey-color;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    width: $blueprints-list-slideshow-width - $blueprints-list-slideshow-margin - 5;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
}

.iqss-blueprintslist-slideshow-title-container-draft {
    background: url(/modules/core/img/draft.svg) right center no-repeat;
}

.iqss-blueprintslist-slideshow-title-container-published {
    background: url(/modules/core/img/published-ok.svg) right center no-repeat;
}

.iqss-blueprintslist-slideshow-title {
    @include textEllipsis;
    line-height: 16px;
    flex: 1 1;
}

.iqss-blueprintslist-slideshow-deleteLink {
    background: url(/modules/core/img/delete.svg) right center no-repeat;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.iqss-blueprintslist-slideshow-delimiter {
    height: 1px;
    width: $blueprints-list-slideshow-width - 4 * $blueprints-list-default-horizontal-padding;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #DFDFDF;
}

.iqss-blueprintslist-slideshow-tag {
    font-size: 11px;
    color: #AFAFAF;
}

.iqss-blueprintslist-slideshow-details {
    padding: 3px 2 * $blueprints-list-default-horizontal-padding;
    height: 30px;
    overflow: hidden;
    font-size: $small-font-size;
    line-height: $font-size;
}

.iqss-blueprintslist-slideshow-authorName {
    padding: 3px 2 * $blueprints-list-default-horizontal-padding;
    padding-top: 6px;
    line-height: $font-size;
}

.iqss-blueprintslist-slideshow-savedOn {
    padding: 0px 2 * $blueprints-list-default-horizontal-padding;
    font-size: $small-font-size;
    line-height: $font-size;
}
