/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
/*
    Genric common styles
*/
/*
    color palette
*/
/*
    colors
*/
/*
    Fonts
*/
.iqss-slideshowedit-saveSlideToBlueprints-header {
  padding: 10px 20px;
  background: #f5f5f5;
  border-bottom: 1px solid #eeeeee;
  color: #faa61a;
  font-size: 14px; }

.iqss-slideshowedit-saveSlideToBlueprints-controls {
  padding: 10px 20px;
  display: flex;
  flex-flow: column; }

.iqss-slideshowedit-saveSlideToBlueprints-body-row {
  display: flex; }

.iqss-slideshowedit-saveSlideToBlueprints-controls .iqss-slideshowedit-saveSlideToBlueprints-body-row:nth-child(2) {
  margin-bottom: 20px; }

.iqss-slideshowedit-saveSlideToBlueprints-error {
  color: #FF0000;
  margin-bottom: 20px; }

.iqss-slideshowedit-saveSlideToBlueprints-body-row-label {
  width: 100px;
  margin-right: 10px; }

.iqss-slideshowedit-saveSlideToBlueprints-control {
  flex: 1; }

.iqss-slideshowedit-saveSlideToBlueprints-body-buttonsContainer {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee;
  padding: 10px 20px;
  display: flex;
  flex-flow: row-reverse; }

.iqss-slideshowedit-saveSlideToBlueprints-body-buttonsContainer-cancelButton {
  margin-right: 10px; }
