@import '../../core/css/variables.scss';

$blueprints-list-header-content-top-padding: $header-height + $page-header-height + 48px;

$blueprints-list-slideshow-width: 194px;

$blueprints-list-slideshow-height: 230px;

$blueprints-list-slideshow-preview-height: 100px;

$blueprints-list-default-horizontal-padding: 7px;

$blueprints-save-to-horizontal-padding: 20px;

$blueprints-save-to-vertical-padding: 10px;
