.template-MSEvents {
  transform: scale(4); }
  .template-MSEvents .title {
    font-size: 37px;
    font-weight: normal;
    color: cornflowerblue; }
  .template-MSEvents .Facilitator {
    font-size: 14px;
    font-weight: normal;
    color: cornflowerblue; }
  .template-MSEvents .author-name {
    font-size: 18px;
    font-weight: normal;
    color: cornflowerblue; }
  .template-MSEvents .date {
    font-size: 21px;
    font-weight: bold;
    color: cornflowerblue; }
  .template-MSEvents .slide-content {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
    max-width: 547px; }
