.title{
    font-size: 37px;
    font-weight: normal;
    color:cornflowerblue;

}
.Facilitator {
    font-size: 14px;
    font-weight: normal;
    color:cornflowerblue;
}
.author-name {
    font-size: 18px;
    font-weight: normal;
    color:cornflowerblue;

}

.date {
    font-size: 21px;
    font-weight: bold;
    color:cornflowerblue;
}
.slide-content {
   color: #333;
   font-family: Arial,sans-serif;
   font-size: 14px;
   line-height: 1.42857142857143;
   max-width: 547px;
}
