<script type="text/ng-template" id="deviceFilterPopup.html">
    <div class="modal-header">
        <h1 class="modal-title">Devices filter</h1>
    </div>
    <div class="modal-body">
        <label for="repeatSelect">Locations</label>
        <div ng-repeat="item in items">
            <input type="checkbox" ng-model="item.selectedForFilter">
            <label>{{item.name}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="filter()">Filter</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
