
<div class="page-header" style="margin-top:58px;">
    <div class="col-sm-12">
        <input type="text" placeholder="search" ng-model="filter" />
        <input type="button" value="Search" ng-click="search()" />
    </div>
</div>
<div class="row">
    <div class="col-sm-3" ng-repeat="slide in slides" style="border:1px solid #000;min-height:150px;cursor:pointer" ng-click="selectSlide(slide)">
        <div style="font-weight:bold">{{slide.bluePrintTitle}} <button ng-click="removeSlide(slide)">Delete</button> </div>
        <div style="font-weight:bold">{{slide.publisher}}</div>
        <div ng-slide-view ng-include='slide.templateUrl' style="height:100%;width:100%;">
        </div>
    </div>
</div>
