
<section class='iqss-blueprintslist-section'>
    <div class='iqss-page-header'>
        <div>
            <div tag-and-name-filter label='"Search for gold"' search-Provider="searchProvider"></div>
        </div>
    </div>
    <div class='iqss-blueprintslist-content'>
        <div class='col-sm-12'>
            <section data-ng-repeat="slide in slides" ng-click="selectSlide(slide)">
                <div class="iqss-blueprintslist-slideshow">
                    <div>
                        <div>
                            <div class="iqss-blueprintslist-slideshow-header" >
                                <div class='iqss-blueprintslist-slideshow-title'>{{slide.bluePrintTitle}}</div>
                                <div data-ng-click='removeSlide(slide);' class='iqss-blueprintslist-slideshow-deleteLink'></div>
                            </div>
                        </div>
                        <div class='iqss-blueprintslist-slideshow-preview'>
                            <div ng-slide-view reference-slide= 'slide' class="ng-slide-view-container"></div>
                        </div>
                        <div class='iqss-blueprintslist-slideshow-details'>
                            {{slide.concatenatedTags}}
                        </div>
                        <div class='iqss-blueprintslist-slideshow-delimiter'>
                        </div>
                        <div class='iqss-blueprintslist-slideshow-authorName' data-ng-bind="slide.publisher"></div>
                        <div class='iqss-blueprintslist-slideshow-savedOn'>Saved on <span data-ng-bind="slide.created | date:'dd.MM.yyyy'"></span></div>
                    </div>
                </div>
            </section>
            <div class="iqss-blueprintslist-slideshow-empty">
            </div>
            <div class="iqss-blueprintslist-slideshow-empty">
            </div>
            <div class="iqss-blueprintslist-slideshow-empty">
            </div>
            <div class="iqss-blueprintslist-slideshow-empty">
            </div>
            <div class="iqss-blueprintslist-slideshow-empty">
            </div>
        </div>
    </div>
</section>
