<div class="modal-header">
    <h1 class="modal-title">Save slide to blueprints</h1>
</div>
<div class="modal-body">
    <label>Slide name
        <input type="text" ng-model="bluePrintInstance.name" </label>
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <div class="form-group col-md-12">
                <label class="control-label" for="name">Tags</label>
                <div class="controls">
                    <ui-select multiple tagging tagging-label="(custom 'new' tag)" ng-model="bluePrintInstance.tags" theme="bootstrap" sortable="true" style="width: 300px;" title="Choose a tag">
                        <ui-select-match placeholder="Select tags or enter a new one...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="tag in possibleTags" refresh="refreshTags($select.search)" refresh-delay="0">
                            {{tag}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <input type="button" ng-click="save()" value="save" />
            <input type="button" ng-click="$close()" value="cancel" />
        </form>


</div>
