<div class="modal-header">
    <h1 class="modal-title">Initialising</h1>
</div>
<div class="modal-body">
    <h1>The device is waiting for activation by the system administrators.</h1>
    <a target="_blank" href="{{slideActivationQr.slideUrl}}">
        <qr text="slideActivationQr.slideUrl" type-number="slideActivationQr.typeNumber" correction-level="slideActivationQr.correctionLevel" size="slideActivationQr.size" input-mode="slideActivationQr.inputMode" image="slideActivationQr.image"></qr>
    </a>
</div>
