$device-list-header-content-top-padding: 30px;

$device-list-card-width: 194px;

$device-list-card-height: 100px;

$device-list-content-height: 100px;

$device-list-default-horizontal-padding: 7px;

$device-edit-content-player-container-width: 200px;

$device-edit-content-player-container-horizontal-margin: 10px;

$device-edit-content-player-container-fullWidth: $device-edit-content-player-container-width + 2 * $device-edit-content-player-container-horizontal-margin;

$device-edit-content-player-editImageWidth: 40px;

$deviceedit-content-player-default-horizontal-padding: 12px;
